<style type="text/css">
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#tag-list">
                        <i class="blue icon-list-ol bigger-110"></i>
                        轮播图列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#tag-add">
                        <i class="blue icon-plus bigger-110"></i>
                        轮播图添加
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tag-list" class="tab-pane in active">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                            <th>缩略图</th>
                            <th>连接</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name='banners' key='key' item='vo'}
                        <tr class="text-c" id="tag-{$vo['id']}">
                            <td style="vertical-align: middle;">{$vo["id"]}</td>
                            <td style="vertical-align: middle;">
                                <img height="100" width="240" src="{$Think.config.aliyun_oss.DOMAIN}{$vo['image_thumb']}" alt="{$vo['desc']}">
                            </td>
                            <td style="vertical-align: middle;">{$vo["link"]}</td>
                            <td style="vertical-align: middle;">{$vo["desc"]}</td>
                            <td style="vertical-align: middle;">
                                <a href="{:url('backend/banner/edit',['id'=>$vo['id']])}">
                                    <button class="btn btn-primary btn-xs">
                                        <i class="icon-edit"></i>编辑
                                    </button>
                                </a>

                                {if condition="$vo.publish_status == 1 "}
                                <a href="javascript:publishHanderModal({$vo['id']},{$vo['publish_status']});" class="btn btn-warning btn-xs" >
                                    <i class="icon-location-arrow"></i>取消发布
                                </a>
                                {else /}
                                <a href="javascript:publishHanderModal({$vo['id']},{$vo['publish_status']});" class="btn btn-info btn-xs" >
                                    <i class="icon-location-arrow"></i>发布
                                </a>
                                {/if}
                                <a href="javascript:delHanderModal({$vo['id']});" class="btn btn-danger btn-xs" >
                                    <i class="icon-trash"></i>删除
                                </a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div>{$banners->render()}</div>
                </div>


                <div id="tag-add" class="tab-pane">
                    <form action="{:url('/backend/banner/store')}" method="post" class="form-horizontal"  enctype="multipart/form-data" role="form">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 连接地址 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" placeholder="请输入连接地址" name="link"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 描述</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="请输入描述信息" name="desc"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属栏目</label>

                            <div class="col-sm-9">
                                <select name="cid" id="cate_id">
                                    {volist name="categorys" id="vo"}
                                    <option value="{$vo['id']}">{$vo['name']}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 轮播图</label>

                            <div class="col-sm-9">
                                <input type="file" id="thumb" name="thumb" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="form-actions center">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </form>
                </div>

                <div id="dropdown1" class="tab-pane">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                        retro fanny pack lo-fi farm-to-table readymade.</p>
                </div>

                <div id="dropdown2" class="tab-pane">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
                        master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
                        DIY, art party locavore wolf cliche high life echo park Austin.</p>
                </div>
            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="delHanderModal" tabindex="-1" role="dialog" aria-labelledby="delHanderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title "><i class="icon-lightbulb bigger-110"></i> &nbsp;提示信息!</h4>
            </div>
            <div class="modal-body">
                <h4>
                    确定要删除吗？
                </h4>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger del-hander" >确定</a>
                <a type="button" class="btn btn-success" data-dismiss="modal" >取消</a>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="publishHanderModal" tabindex="-1" role="dialog" aria-labelledby="publishHanderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title "><i class="icon-lightbulb bigger-110"></i> &nbsp;提示信息!</h4>
            </div>
            <div class="modal-body">
                <h4>
                    确定要发布吗？
                </h4>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger publish-hander" >确定</a>
                <a type="button" class="btn btn-success" data-dismiss="modal" >取消</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $tag_id;
    var $publish_status;
    function delHanderModal(id) {
        $tag_id = id;
        $("#delHanderModal").modal("show");
    }

    /**
     * 发布
     * @param id
     */
    function publishHanderModal(id,publish_status) {
        $tag_id = id;
        $publish_status = publish_status;
        $("#publishHanderModal").modal("show");
    }
    $(document).ready(function(){
        $('body').delegate('.del-hander', 'click', function () {
            $("#delHanderModal").modal("hide");
            var $url = "{:url('backend/banner/del')}";
            var $_data = {
                'id': $tag_id
            };
            $.ajax({
                url: $url,
                type: 'post',
                data: $_data,
                dataType: "json",
                //服务器成功响应处理函数
                success: function ($response) {
                    console.log($response)
                    if ($response.code == 200) {
                        $('#tag-' + $tag_id).remove();
                        successShow($response.msg);
                    } else {
                        failShow($response.msg);
                    }
                },
                //服务器响应失败处理函数
                error: function (data, status, e) {
                    alert(e);
                }
            })
        });

        $('body').delegate('.publish-hander', 'click', function (e) {
            var ev = e || window.event; // 事务
            console.log(ev);
            ev.preventDefault();// 阻止链接跳转
            var $tmpUrl = this.href; // 保存点击的地址
            $("#publishHanderModal").modal("hide");
            var $url = "{:url('backend/banner/publish')}";
            var $_data = {
                'id': $tag_id,
                'publish_status': $publish_status
            };
            $.ajax({
                url: $url,
                type: 'post',
                data: $_data,
                dataType: "json",
                //服务器成功响应处理函数
                success: function ($response) {
                    console.log($response);
                    if ($response.code == 200) {
                        $('#tag-' + $tag_id).css('background-color','#fff5d4');
                        successShow($response.msg);
                        $('#tab-content').load($tmpUrl).fadeIn('slow');
                    } else {
                        failShow($response.msg);
                    }
                },
                //服务器响应失败处理函数
                error: function (data, status, e) {
                    alert(e);
                }
            })
        });
    });
</script>