<div class="blog-body">
    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
            <a href="/" title="网站首页">网站首页</a>
            <a><cite>工具栏目</cite></a>
        </blockquote>
        <div class="blog-main">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
</div>
<!--<script>-->
    <!--layui.use('upload', function () {-->
        <!--var upload = layui.upload;-->
        <!--//执行实例-->
        <!--var uploadInst = upload.render({-->
            <!--elem: '#test1' //绑定元素-->
            <!--, url: "https://www.tinywan.com/sources/index/imageToText2" //上传接口-->
            <!--, done: function (res) {-->
                <!--//上传完毕回调-->
                <!--alert(JSON.stringify(res));-->
            <!--}-->
            <!--, error: function () {-->
                <!--//请求异常回调-->
                <!--alert('请求异常回调');-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->