<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span style="color: #ff0000">Julia 语言三位作者获得 Wilkinson 数字软件奖</span>
                    <span style="color: #009688">新鲜出炉！2019年春节能放几天年假</span>
                </div>
            </div>
            <!--左边文章列表-->
            <div class="blog-main-left">
                {volist name="articles" id="vo"}
                <div class="article shadow">
                    <div class="article-left">
                        <img src="{$Think.config.aliyun_oss.DOMAIN}{$vo.image_thumb}" onerror=this.src="__STATIC__/images/error_default.jpg" alt="基于laypage的" />
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <a href="{:url('sources/Index/detail',['id'=>$vo['id']])}">{$vo.title}</a>
                        </div>
                        <div class="article-abstract">
                            {$vo["desc"]|mb_substr=0,120}
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{$vo['create_time']|format_date_to_time}</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{$vo.username}</span>
                        <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{$vo['c_name']}</a></span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;0</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
                </div>
                {/volist}
            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">
                <div></div><!--占位-->
                <div class="blog-module shadow">
                    <div class="blog-module-title">个人公众账号</div>
                    <img src="__STATIC__/images/qrcode_for_gh_7df99c2f16a3_344.jpg" width="90" height="90" onerror=this.src="sources/images/error_default.jpg" alt="个人公众账号" />
                    <img src="__STATIC__/images/qrcode_for_gh_7df99c2f16a3_344.jpg" width="90" height="90" onerror=this.src="sources/images/error_default.jpg" alt="个人公众账号" />
                    <img src="__STATIC__/images/qrcode_for_gh_7df99c2f16a3_344.jpg" width="90" height="90" onerror=this.src="sources/images/error_default.jpg" alt="个人公众账号" />
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">热文排行</div>
                    <ul class="fa-ul blog-module-ul">
                        {volist name="articles" id="vo"}
                        <li><i class="fa-li fa fa-caret-right"></i><a href="{:url('source/Index/detail',['id'=>$vo['id']])}">{$vo.title}</a></li>
                        {/volist}
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">最近分享</div>
                    <ul class="fa-ul blog-module-ul">
                        <li><i class="fa-li fa fa-share-alt"></i><a href="http://pan.baidu.com/s/1c1BJ6Qc" target="_blank">ThinkPHP框架Bug，致网站遭受了攻击</a></li>
                        <li><i class="fa-li fa fa-share-alt"></i><a href="http://pan.baidu.com/s/1kVK8UhT" target="_blank">快速灵活的 Docker 镜像构建工具</a></li>
                        <li><i class="fa-li fa fa-share-alt"></i><a href="https://pan.baidu.com/s/1mit2aiW" target="_blank">Adiantum 和 Streebog 开始向用户推送</a></li>
                        <li><i class="fa-li fa fa-share-alt"></i><a href="https://pan.baidu.com/s/1nuAKF81" target="_blank">Banana Pi 将支持 24 核 Arm 处理器</a></li>
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">友情链接</div>
                    <ul class="blogroll">
                        <li><a target="_blank" href="http://www.layui.com/" title="Layui">Layui</a></li>
                        <li><a target="_blank" href="https://github.com/Tinywan" title="页签">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->