<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简易聊天室</title>
    <link rel="stylesheet" href="__CSS__/chartroom.css"/>
    <link href="__COMMON__/videojs/videojs/video-js.css" rel="stylesheet">
    <link href="__COMMON__/videojs/Skins/YouTouBe.css" rel="stylesheet" >
</head>
<body>
<div class="m-head">
    <div class="g-doc">
        <div class="logo item">首页</div>
        <div class="nav item">
            <a href="room_list.html">聊天室</a>
        </div>
        <div class="info item">
            <img src="/im/images/default-icon.png" alt="头像" id="avatar">
            <!-- <a href="./room_manage.html" id="nickName">匿名</a> -->
            <span id="nickName">匿名</span>
            <a href="./login.html" id="chatroom-login">登录</a>
            <a id="chatroom-logout">注销</a>
        </div>
        <div class="action item"><a href="./anchor.html"><b class="icon"></b>我要当主播</a></div>
    </div>
</div>
<div class="g-doc">
    <div class="m-room" id="room">
        <div class="g-left">
            <div class="info">
                <div class="avatar">
                    <img class="image" id="roomAvatar" src="__IMAGES__/default-icon.png"/>
                </div>
                <div class="detail">
                    <p class="title" id="roomTitle">房间名</p>
                    <p class="desc">主播：<span id="roomCreator"></span>&nbsp;&nbsp;在线人数：<span id="roomOnlineMemberNum"></span></p>
                </div>
            </div>
            <div class="media">
                <!--<img src="" id="video" class="hide">-->
                <video id="live-stream" class="video-js vjs-default-skin vjs-big-play-centered" width='100%' height='100%' controls>
                    <source src="http://qiniu-xpc0.xpccdn.com/59c362314b6cb.mp4"
                            type="video/mp4">
                </video>
            </div>
        </div>
        <div class="g-right">
            <div class="m-status" id="linkStatus">连接中。。。</div>
            <div class="announcement_title">
                直播公告
            </div>
            <div class="announcement" id="roomAnnouncement">
            </div>
            <ul class="tab">
                <li class="crt j-tab" data-value="chat">直播互动</li>
                <li class="j-tab" data-value="member">在线成员</li>
            </ul>
            <div class="chat j-pannel j-chat">
            </div>
            <div class="member j-pannel hide">
                <div class="list j-member">
                </div>
                <div class="more j-more">
                    <a>加载更多</a>
                </div>
            </div>
            <div id="chatroom-verified">
                <div class="edit">
                    <textarea class="editText" id="editText" placeholder="Ctrl+Enter快速发送"></textarea>
                </div>
                <div class="sendBtn">
                    <div id="emojiTag"></div>
                    <a class="u-btn btn" id="sentText">发送</a>
                    <a class="btn custom" id="customBtn"></a>
                    <a class="btn emoji" id="emoji"></a>
                </div>
            </div>
            <div id="chatroom-anonymous">
                <em class="loginWarn">登录后方可发送消息</em>
                <div class="loginBtn">
                    <a href="./login.html" class="u-btn btn">登录聊天室</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="menu" class="m-menu" style="display:none">
    <ul>
        <li class="j-item j-kick" data-type="0"  title="移除直播室">踢人</li>
        <li class="j-item j-gag" data-type="1"  title="禁止发言">禁言</li>
        <li class="j-item j-black" data-type="2"  title="永久不能进入该直播间">拉黑该用户</li>
        <li class="j-item admin j-admin" data-type="3">任命管理员</li>
    </ul>
</div>
<script src="__MAIN__/js/config.js"></script>
<script src="__MAIN__/js/jquery-1.11.3.min.js"></script>
<script src="__JS__/util.js"></script>
<script src="__JS__/title.js"></script>
<script src="__MAIN__/js/jquery-1.11.3.min.js"></script>

<script src="__MAIN__/js/NIM_Web_SDK_v4.8.0.js"></script>
<!-- <script src="../../3rd/NIM_Web_SDK.js"></script> -->

<script src="__JS__/emoji.js"></script>
<script src="__JS__/link.js"></script>
<script src="__JS__/room.js"></script>
<script>
    var options = {
        width: 640,
        height: 380
    };
    var player = videojs('live-stream', options);
    player.addClass('vjs-matrix');

    player.on(['loadstart', 'play', 'playing', 'firstplay', 'pause', 'ended', 'adplay', 'adplaying', 'adfirstplay', 'adpause', 'adended', 'contentplay', 'contentplaying', 'contentfirstplay', 'contentpause', 'contentended', 'contentupdate'], function (e) {
//        console.warn('VIDEOJS player event: ', e.type);
        if (e.type == "play") {
            console.log('开始播放');
        } else if (e.type == "playing") {
            console.log('正在播放...');
        } else if (e.type == "pause") {
            console.log('暂停视频播放');
        } else if (e.type == "firstplay") {
            console.log('firstplay播放');
        } else {
            console.log('1111111111111');
        }
    });

</script>
</body>
</html>