<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="__CSS__/chartroom.css"/>
</head>
<body>
<div class="m-head">
    <div class="g-doc">
        <div class="logo item">首页</div>
        <div class="nav item">
            <a href="room_list.html">聊天室</a>
        </div>
        <div class="info item">
            <img src="/im/images/default-icon.png" alt="头像" id="avatar">
            <!-- <a href="./room_manage.html" id="nickName">匿名</a> -->
            <span id="nickName">匿名</span>
            <a href="./login.html" id="chatroom-login">登录</a>
            <a id="chatroom-logout">注销</a>
        </div>
        <div class="action item"><a href="./anchor.html"><b class="icon"></b>我要当主播</a></div>
    </div>
</div>
<div class="g-doc">
    <div class="m-manager" id="manager">
        <div class="tt">个人中心</div>
        <div class="g-left nav">
            <a href="./room_manage.html" class="item j-item crt"><span class="u-ticon ticon-1 icon"></span>房间管理</a>
            <a href="./anchor.html" class="item j-item"><span class="icon u-ticon ticon-2"></span>申请直播间</a>
        </div>
        <div class="g-right">
            <!--<table width="96%" style="margin-left: 10px;margin-right: 10px;" height="40%">-->
                <!--<tr bgcolor="#e5f4ff">-->
                    <!--<th colspan="2">房间名</th>-->
                    <!--<th colspan="3">成员管理</th>-->
                    <!--<th colspan="2">房间管理</th>-->
                <!--</tr>-->
                <!--<tr bgcolor="#ffffff">-->
                    <!--<td>房间一</td>-->
                    <!--<td>主播</td>-->
                    <!--<td>禁言名单</td>-->
                    <!--<td>黑名单</td>-->
                    <!--<td>管理员</td>-->
                    <!--<td>房间设置</td>-->
                    <!--<td>解散/辞职</td>-->
                <!--</tr>-->
                <!--<tr bgcolor="#ffffff">-->
                    <!--<td>房间一</td>-->
                    <!--<td>主播</td>-->
                    <!--<td>禁言名单</td>-->
                    <!--<td>黑名单</td>-->
                    <!--<td>管理员</td>-->
                    <!--<td>房间设置</td>-->
                    <!--<td>解散/辞职</td>-->
                <!--</tr>-->
                <!--<tr bgcolor="#ffffff">-->
                    <!--<td>房间一</td>-->
                    <!--<td>主播</td>-->
                    <!--<td>禁言名单</td>-->
                    <!--<td>黑名单</td>-->
                    <!--<td>管理员</td>-->
                    <!--<td>房间设置</td>-->
                    <!--<td>解散/辞职</td>-->
                <!--</tr>-->
            <!--</table>-->
            <img src="__IMAGES__/room.jpg" alt="">
        </div>
    </div>
</div>
<script src="__MAIN__/js/jquery-1.11.3.min.js"></script>
<script src="__JS__/util.js"></script>
<script src="__JS__/title.js"></script>
</body>
</html>