<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#admin-list">
                        <i class="green icon-home bigger-110"></i>
                        管理员列表
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="admin-list" class="tab-pane in active">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                            <th>用户名</th>
                            <th>所属户组</th>
                            <th>邮箱</th>
                            <th>排序</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='lists' id='user'}
                        <tr class="text-c">
                            <td>{$user.id}</td>
                            <td>{$user.username}</td>
                            <td>{$user.title}</td>
                            <td>{$user.email}</td>
                            <td>{$user.status}</td>
                            <td>{$user.email}</td>
                            <td>
                                <a href="{:url('backend/auth.admin/updategroup',['id'=>$user['id']])}">
                                    <button class="btn btn-warning btn-xs">
                                        <i class="icon-folder-open"></i>修改用户组
                                    </button>
                                </a>
                                <a href="{:url('backend/auth.admin/edit',['id'=>$user['id']])}">
                                    <button class="btn btn-primary btn-xs">
                                        <i class="icon-edit"></i>编辑
                                    </button>
                                </a>
                                <a href="{:url('backend/auth.admin/delete',['id'=>$user['id']])}">
                                    <button class="btn btn-danger btn-xs">
                                        <i class="icon-trash"></i>删除
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->

