<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> Username </div>

                <div class="profile-info-value">
                    <span class="editable" id="username">{$Think.session.admin.username}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 国家、地区 </div>

                <div class="profile-info-value">
                    <i class="icon-map-marker light-orange bigger-110"></i>
                    <span class="editable" id="country">Netherlands</span>
                    <span class="editable" id="city">Amsterdam</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 年龄 </div>

                <div class="profile-info-value">
                    <span class="editable" id="age">38</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 加入时间 </div>

                <div class="profile-info-value">
                    <span class="editable" id="signup">20/06/2010</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 最近登录时间 </div>

                <div class="profile-info-value">
                    <span class="editable" id="login">{$user.login_points|points_to_level}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 所属用户组 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">超级管理员</span>
                </div>
            </div>
        </div>
    </div>
</div>

