<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <a href="http://{$Think.server.http_host}" target="_blank">主页</a>
            </button>

            <button class="btn btn-info">
                <a href="https://www.tinywan.com/live/index/index" target="_blank">直播</a>
            </button>

            <button class="btn btn-warning">
                <i class="icon-group"></i>
            </button>

            <button class="btn btn-danger">
                <i class="icon-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="https://www.kancloud.cn/manual/thinkphp5/118003" target="_blank">
                <i class="icon-book"></i>
                <span class="menu-text"> 在线开发手册 </span>
            </a>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-cog"></i>
                <span class="menu-text"> 系统配置 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/system/config')}">
                        <i class="icon-double-angle-right"></i>
                        系统配置
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/system/actionlog')}">
                        <i class="icon-double-angle-right"></i>
                        日志管理
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-user-md"></i>
                <span class="menu-text"> 权限管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/auth.admin/adminlist')}">
                        <i class="icon-group"></i>
                        管理员管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/auth.auth_group/grouplist')}">
                        <i class="icon-double-angle-right"></i>
                        用户组管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/auth.auth_rule/rulelist')}">
                        <i class="icon-double-angle-right"></i>
                        规则管理
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list-ul"></i>
                <span class="menu-text"> 基本管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">

                <li>
                    <a href="{:url('backend/category/index')}">
                        <i class="icon-caret-right"></i>
                        分类管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/banner/index')}">
                        <i class="icon-caret-right"></i>
                        轮播图管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/tag/index')}">
                        <i class="icon-tags"></i>
                        标签管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/article/index')}">
                        <i class="icon-group"></i>
                        文章列表
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-dollar"></i>
                <span class="menu-text"> 支付管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('frontend/ali_pay/show',['id'=>3])}" target="_blank">
                        <i class="icon-double-angle-right"></i>
                        支付宝即时到账
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/system/dbConfig')}">
                        <i class="icon-double-angle-right"></i>
                        微信支付
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-puzzle-piece"></i>
                <span class="menu-text"> 监控管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/linux_shell/internalStorage')}">
                        <i class="icon-double-angle-right"></i>
                        内存实时监控
                    </a>
                </li>

                <li>
                    <a href="jqgrid.html">
                        <i class="icon-double-angle-right"></i>
                        磁盘监控
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-shopping-cart"></i>
                <span class="menu-text"> 商城模块 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/product/store')}">
                        <i class="icon-double-angle-right"></i>
                        商品管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/product/store')}">
                        <i class="icon-double-angle-right"></i>
                        游戏管理
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-facetime-video"></i>
                <span class="menu-text"> 多媒体控制台</span>
                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/live/liveIndex')}">
                        <i class="icon-double-angle-right"></i>
                        直播控制台
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-double-angle-right"></i>
                        点播控制台
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="{:url('backend/live/vodManage')}">
                                <i class="icon-facetime-video"></i>
                                点播管理
                            </a>
                        </li>

                        <li>
                            <a href="{:url('backend/live/uploadVideoManage')}">
                                <i class="icon-leaf"></i>
                                素材管理
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-dollar"></i>
                                数据统计
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-pencil"></i>

                                视频编辑
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="{:url('backend/live/videoCut')}">
                                        <i class="icon-cut"></i>
                                        视频剪切
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('backend/live/videoConcat')}">
                                        <i class="icon-copy"></i>
                                        视频合并
                                    </a>
                                </li>

                                <li>
                                    <a href="{:url('backend/live/videoEditList')}">
                                        <i class="icon-list"></i>
                                        编辑列表
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{:url('backend/live/settingsAll')}" class="dropdown-toggle">
                        <i class="icon-double-angle-right"></i>
                        全局设置
                    </a>
                </li>
                <li>
                    <a href="{:url('backend/live/settingsAll')}" class="dropdown-toggle">
                        <i class="icon-double-angle-right"></i>
                        安全管理
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-double-angle-right"></i>
                        媒体转码
                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="{:url('backend/live/mediaFormatSwitch')}">
                                <i class="icon-lock"></i>
                                文件转码管理
                            </a>
                        </li>
                        <li>
                            <a href="{:url('backend/live/urlAuth')}">
                                <i class="icon-lock"></i>
                                媒体库
                            </a>
                        </li>
                        <li>
                            <a href="{:url('backend/live/playAuthentication')}">
                                <i class="icon-play-circle"></i>
                                全局设置
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-file-text"></i>
                <span class="menu-text"> 办公模块 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="{:url('backend/office/index')}">
                        <i class="icon-double-angle-right"></i>
                        Excel管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/live/indexRecord')}">
                        <i class="icon-double-angle-right"></i>
                        扶贫管理
                    </a>
                </li>

                <li>
                    <a href="{:url('backend/live/indexRecord')}">
                        <i class="icon-double-angle-right"></i>
                        财务管理
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>