<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">欢迎使用！图片文字识别系统</div>
            <div class="card-body">
                <p>
                    <form action="{:url('/share/Ocr/imageChangeTextContentPost')}" method="post"
                          enctype="multipart/form-data">
                        <div class="ace-file-input ace-file-multiple">
                            <div class="ace-file-input ace-file-multiple">
                                <input type="file" accept="image/*" id="id-input-file-3"
                                       class="chepai_file"
                                       name="img_file">
                            </div>
                        </div>
                <p></p>
                <button class="btn btn-info btn-block" type="submit">开始智能转换</button>
                <p></p>
                </form>
                <p></p>
                <div class="progress" style="line-height:3.5rem;">
                    <div class="bar"></div>
                    <p></p>
                    <div class="percent">0%</div>
                </div>
                <p></p>
                <div id="status">

                </div>
                </p>
                <div id="live_images">

                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">识别内容</div>
            <div class="card-body" id="img-content">

            </div>
        </div>
        <p></p>
    </div>
</div>


