<div class="fly-footer">
    <p>
        {$Think.config.webinfo.COPY} &nbsp;{$Think.config.webinfo.RECORD}
    </p>
    <!--<p>-->
        <!--<a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>-->
        <!--<a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>-->
        <!--<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>-->
    <!--</p>-->
</div>
<script src="__LAYUI__/layui.js"></script>
<script>
    layui.config({
        base: '__RES__/mods/' //设定扩展的Layui模块的所在目录，一般用于外部模块扩展
    }).use('index'); //加载入口
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>