<style type="text/css">
    .chat-room-container {
        font-family: "DejaVu Sans Mono";
        width: 100%;
        height: 700px;
        overflow: auto;
        border: 1px solid #c1b7b7;
        padding: 10px 0px 20px 10px;
        color: #f5f9f4;
        background-color: #1b1a1a;
    }
</style>
<script type="text/javascript">
    var ws;
    var wsServerIP = "{$wsServerIP}";
    var wsServerPort = "{$wsServerPort}";
    var SocketCreated = false;
    var isUserloggedout = false;

    function ToggleConnectionClicked() {
        if (SocketCreated && (ws.readyState == 0 || ws.readyState == 1)) {
            SocketCreated = false;
            isUserloggedout = true;
            ws.close();
        } else {
            try {
                if ("WebSocket" in window) {
                    ws = new WebSocket("wss://" + wsServerIP + ":" + wsServerPort + "/chat/");
                }
                else if ("MozWebSocket" in window) {
                    ws = new MozWebSocket("wss://" + wsServerIP + ":" + wsServerPort + "/chat/");
                }
                SocketCreated = true;
                isUserloggedout = false;
            } catch (ex) {
                Log(ex, "ERROR");
                return;
            }
            ws.onopen = WSonOpen;
            ws.onmessage = WSonMessage;
            ws.onclose = WSonClose;
            ws.onerror = WSonError;
        }
    };


    function WSonOpen() {
        Log("安装环境连接已经建立。", "OK");
    };

    function WSonMessage(event) {
//        console.log(event.data);
        Log(event.data, "MSG");
    };

    function WSonClose() {
        if (isUserloggedout) Log("【" + document.getElementById("txtName").value + "】离开了聊天室！");
        document.getElementById("ToggleConnection").innerHTML = "连接";
        $("#SendDataContainer").hide();
    };

    function WSonError() {
        Log("远程连接中断。", "ERROR");
    };

    function Log(Text, MessageType) {
        var LogContainer = $("#LogContainer");
        if (MessageType == "OK") Text = "<span style='color: green;'>" + Text + "</span>";
        if (MessageType == "ERROR") Text = "<span style='color: red;'>" + Text + "</span>";
        if (MessageType == "MSG") {
            Text = Text;
        }
        var logList = $('<div class="log-list">' + Text + '</div>')
        LogContainer.append(logList);

        var logLegth = LogContainer.children('.log-list').length;

        if (logLegth > 100) {
            LogContainer.find('.log-list').eq(0).remove();
        }
        var logHeight = 0;
        LogContainer.find('.log-list').each(function () {
            logHeight += $(this).height();
        });
        LogContainer.scrollTop(logHeight);
    };

    $(document).ready(function () {
        $('body').delegate('.start-build-hander', 'click', function () {
            var $url = "{:url('frontend/websocket_client/showInstallInfo')}";
            var $_data = {
                'webdomain': "1111111"
            };
            console.log($_data);
            $.ajax({
                url: $url,
                type: 'post',
                data: $_data,
                dataType: "json",
                //服务器成功响应处理函数
                success: function ($response) {
                    ToggleConnectionClicked();
                    console.log($response);
                },
                //服务器响应失败处理函数
                error: function (data, status, e) {
                    alert(e);
                }
            })
        });
    });
</script>
<div class="container">
    <!-- 简介 -->
    <div class="row">
        <h1>流媒体系统自动编译安装 <a type="button" class="btn btn-success start-build-hander" style="width: 75px">开始编译</a></h1>
        <hr/>
        <div id='LogContainer' class='chat-room-container'></div>
    </div>
</div>