

<!-- footer start-->
<div class="footer">
    <div class="container">
        <div class="con_box clearfix" style="margin-right:0px;">
            <div class="f_l link clearfix">
                <!--友情链接-->
                <div class="link_box yq_link mt_16" style="width:100%;">
                    <div class="ti mb_8" style="background:url(__IMAGES__/line_ico.png) no-repeat;background-size:18px 18px;padding-left:22px;">友情链接</div>
                    <div class="ul">
                        <div class="li">
                            <a href="http://ke.qq.com" target="_blank" style="margin-right:8px;">腾讯课堂</a>
                            <a href="https://yq.aliyun.com/" target="_blank" style="margin-right:8px;">云栖社区</a>
                            <a href="http://www.greatops.net" target="_blank" style="margin-right:8px;">高效运维社区</a>
                            <a href="http://blog.qiniu.com" target="_blank" style="margin-right:8px;">七牛云</a>
                            <a href="https://www.oschina.net" target="_blank" style="margin-right:8px;">开源中国</a>
                            <a href="https://segmentfault.com" target="_blank" style="margin-right:8px;">SegmentFault</a>
                            <a href="http://dbaplus.cn" target="_blank" style="margin-right:8px;">DBAplus社群</a>
                            <a href="http://acmug.com/about-acmug" target="_blank" style="margin-right:8px;">中国MySQL用户组</a>
                            <a href="http://www.mongoing.com" target="_blank" style="margin-right:8px;">MongoDB中文社区</a>
                            <a href="http://ceph.org.cn" target="_blank" style="margin-right:8px;">Ceph中文社区</a>
                            <a href="http://www.postgres.cn/index.php/home" target="_blank" style="margin-right:8px;">PostgreSQL中文社区</a>
                            <a href="https://680863.kuaizhan.com" target="_blank" style="margin-right:8px;">饿科技</a>
                            <a href="https://www.shurenyun.com" target="_blank" style="margin-right:8px;">数人云</a>
                            <a href="http://zhongshengdai.com" target="_blank" style="margin-right:8px;">中生代技术</a>
                            <a href="http://blog.daocloud.io" target="_blank" style="margin-right:8px;">DaoCloud</a>
                            <a href="http://www.html5dw.com" target="_blank" style="margin-right:8px;">HTML5梦工场</a>
                            <a href="https://community.qingcloud.com" target="_blank" style="margin-right:8px;">青云</a>
                            <a href="http://www.cnrancher.com" target="_blank" style="margin-right:8px;">RancherLabs</a>
                            <a href="http://www.acoug.org" target="_blank" style="margin-right:8px;">中国Oracle用户组</a>
                            <a href="http://www.dbgeek.org" target="_blank" style="margin-right:8px;">DBGeek</a>
                            <a href="https://www.upyun.com" target="_blank" style="margin-right:8px;">又拍云</a>
                            <a href="http://tech.meituan.com" target="_blank" style="margin-right:8px;">美团点评技术团</a>
                            <a href="http://springcloud.cn" target="_blank" style="margin-right:8px;">Spring Cloud中国社区</a>
                            <a href="https://juejin.im" target="_blank" style="margin-right:8px;">掘金</a>
                            <a href="https://www.uyun.cn" target="_blank" style="margin-right:8px;">优云双态运维</a>
                            <a href="http://www.polyv.net" target="_blank" style="margin-right:8px;">保利威视</a>
                        </div>
                    </div>
                </div>
                <!--友情链接 end-->
                <!--更多链接-->
                <div class="clear"></div>
                <!--友情链接-->
                <div class="link_box yq_link mt_16" style="width:100%;">
                    <div class="ti mb_8" style="background:url(__IMAGES__/about_ico.png) no-repeat;background-size:18px 18px;padding-left:22px;">关于我们</div>
                    <div class="ul">
                        <div class="li">
                            <a href="/about/index?type=us#about_us_con" target="_blank">关于我们</a>　
                            <a href="/about/index?type=contact#contact" target="_blank">联系我们</a>　
                            <!-- <a href="/about/index?type=job#join_us" target="_blank">加入我们</a>　
                            <a href="#" target="_blank">平台使用</a>　 -->
                            <a href="mailto:service@itdks.com" target="_blank">意见反馈</a>　
                        </div>
                    </div>
                </div>
                <!--友情链接 end-->

                <!--更多链接 end-->
            </div>
            <div class="f_r code_box clearfix" style="float:left !important">
                <div class="code weichat"><img src="__PICTURE__/weichat_code.png">
                    <div style="width:100px;margin: 0 auto;">第一时间获取大咖分享资讯</div>
                </div>
            </div>
            <div class="f_r code_box clearfix" style="float:left !important;">
                <div class="code weichat" style="margin-left:4px"><img src="__PICTURE__/tucao.jpg">
                    <div style="width:100px;margin: 0 auto;font-size: 14px;">IT大咖说吐槽群</div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden"  id="csrf" name="_csrf_token" value="6ce1430b8efb153802138fd27114df996d5706da">
<script>
    var csrf=$('#csrf').val();
    $(document).ajaxSend(function(a, b, c) {
        if (c.type == 'POST') {
            b.setRequestHeader('X-CSRF-Token', csrf);
        }
    });
</script>



<!-- footer end-->
<!--footer end-->
</div>
<!--content end-->
<!--copyright-->

<!--copyright start-->
<div class="copyright">
    <div class="container">
        <div class="con_box clearfix">
            <p>版权所有：贰萬　|　<a href="http://www.miitbeian.gov.cn">浙ICP备16039906号</a>　　Copyright©2016 itdks.com</p>
        </div>
    </div>
</div>

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();

</script>
<!--copyright end-->

<script type="text/javascript">
    $(function () {

        $(".choose").click(function(){
            var day = $(this).attr("data");
            $(".choose").removeClass("hov");
            $(this).addClass("hov");
        })

        if ("web" == "web") {
            $('.carousel-inner').quake({
                effects: ['blind', 'linearPealReverse', 'diagonalFade', 'barsUp', 'barsDown', 'blindFade', 'explode',
                    'explodeFancy', 'mixBars', 'mixBarsFancy', 'fade', 'blindFadeReverse', 'slideIn', 'slideInFancy',
                    'slideLeft', 'slideRight', 'slideUp', 'slideDown', 'fallingBlindFade', 'raisingBlindFade'],
                thumbnails: true,
                captionOpacity: '0.3'
            });
            /*			    $('.one-time').slick({
             dots: false,
             slidesToShow: 6,
             slidesToScroll: 1,
             touchMove: false,
             })*/
            slide();
            $('.secondtime').slick({
                dots: false,
                slidesToShow: 6,
                slidesToScroll:6,
                touchMove: false
                /*       autoplay: true,
                 autoplaySpeed: 5000*/
            });

            /*主页主办方动画*/
            $('.organizerchange li').click(function(){
                if($(this).hasClass('active')){
                    return;
                }
                var index=$(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                /*  if(index==0){
                 $('.home_or_tj_list').eq(index).show();
                 $('.home_or_tj_list').eq(1).hide()
                 }else{
                 $('.home_or_tj_list').eq(0).hide()
                 $('.home_or_tj_list').eq(index).show()
                 }*/
                $('.home_or_tj_list').eq(0).animate({marginLeft:-1280*index+'px'})
            })

            /*    var  timer=setInterval("change()",5000);
             $('.home_or_tj_list').mouseenter(function(){
             clearInterval(timer)
             })
             $('.home_or_tj_list').mouseleave(function(){
             timer=setInterval("change()",5000);
             })*/


        } else {
            $(function () {
                var $ol = $('.carousel-indicators');
                $ol.find('li').eq(0).addClass('active');
                var $div = $('.carousel-inner');
                $div.find('.item').eq(0).addClass('active');
            });
            $(function () {
                var count = 0;
                $("[data-target='#carousel-example-generic_mobile']").each(function () {
                    $(this).attr("data-slide-to", count++);
                });
            });
        }
        $("img.img_lazy").lazyload({threshold: 100, effect: "fadeIn"});
    });

    $(function(){
        var lang = "ch";
        $('#datetimepicker2').unbind().click(function(){
            $('#datetimepicker2').datetimepicker("show");

        });

        $("#datetimepicker2").datetimepicker({
            linkField:"startTime",
            lang : lang,
            autoclose: true,
            format: "yyyy-mm-dd",
            minView : "2"
        }).on('changeDate', function(ev){

            setTimeout(function(){
                var startTime = $('#startTime').val();
                startTime = startTime.substring(0,10);
                location.href="/eventlist?datetime="+startTime;
            })
        })
    })

    /*主页主办方动画*/
    var i=0;
    function change(){
        n= $('.home_or_tj_list').length;
        i++;
        if(i>n-1){
            i=0
        }
        slideanimate(i);

    }
    function slideanimate(i){
        $('.organizerchange li').eq(i).addClass('active').siblings().removeClass('active');
        $('.home_or_tj_list').eq(0).stop().animate({marginLeft:-1280*i+'px'})
    }
</script>
</body>
</html>