<!-- 主要内容 -->
<div class="container">
    <h1>流媒体系统自动安装配置信息</h1>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><label>自动安装配置信息</label></div>
            <div class="panel-body">
                <form action="#" id="formContainer" class="form form-horizontal"><input type="hidden" id="GUID"
                                                                                        name="GUID">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> 公共配置</h3></div>
                        <div class="panel-body">
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>用户名:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ServerIp" name="ServerIp" class="form-control" value="192.168.1.189">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>账号:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="UserName" name="UserName" value="root" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" name="password" class="form-control" value="123123123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> 推流服务器</h3></div>
                        <div class="panel-body">
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>用户名:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ServerIp" name="ServerIp" class="form-control" value="192.168.1.189">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>账号:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="UserName" name="UserName" value="root" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" name="password" class="form-control" value="123123123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> 节点服务器</h3></div>
                        <div class="panel-body">
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>用户名:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ServerIp" name="ServerIp" class="form-control" value="192.168.1.189">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>账号:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="UserName" name="UserName" value="root" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" name="password" class="form-control" value="123123123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> 节点服务器</h3></div>
                        <div class="panel-body">
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>用户名:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ServerIp" name="ServerIp" class="form-control" value="192.168.1.189">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>账号:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="UserName" name="UserName" value="root" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" name="password" class="form-control" value="123123123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> 代理服务器</h3></div>
                        <div class="panel-body">
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>用户名:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="ServerIp" name="ServerIp" class="form-control" value="192.168.1.189">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>账号:</label>
                                <div class="col-sm-4">
                                    <input type="text" id="UserName" name="UserName" value="root" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-2" for="UserName">
                                <span class="symbol required"></span>密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" name="password" class="form-control" value="123123123">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
