<!-- 主要内容 -->
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">搜索</li>
    </ul>
    <!-- 简介 -->
    <div class="row">
        <div class="col-lg-9">
            <div class="page-title J_postId" data-id="270">
                <h3>{$article["title"]} <span>[{$article.c_name}]</span></h3>
                <span>作者：<a href="/member/index/1.html">{$article.username}</a></span>
                <span>发布于：{$article["create_time"]|date="Y/m/d H:i:s",###}</span>
                <span>浏览：{$article['views']}次</span>
                <span><a href="javascript:;" class="j-collect">收藏</a></span>
            </div>

            <div class="page-content">
                <p></p>{$article.content}
                <div class="post-donate">
                    <span>如果文章对您有所帮助，希望继续支持我们，您的支持是我们最大的动力</span>
                    <a href="/donate/index.html" class="btn btn-success">￥打赏</a>
                </div>
                <div class="page-tag">
                    <b>标签：</b>
                    {volist name="tags" id="vo"}
                    <span><a
                            href="{:url('frontend/index/searchByTagId',['id'=>$vo['tag_id']])}">{$vo['name']}</a></span>
                    {/volist}
                    <div class="page-declare">
                        <b>声明：</b><span>文章内容由作者原创或整理，未经允许，不得转载！</span>
                    </div>
                    <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1501417808870">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <script>window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "16"
                        },
                        "share": {},
                        "image": {
                            "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                            "viewText": "分享到：",
                            "viewSize": "16"
                        }
                    };
                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                </div>

                <div class="page-comment">
                    <div id="comments" style="margin-top: 10px;">
                        <div class="page-header">
                            <h2>共 {$commentCounts} 条评论</h2>
                        </div>
                        <ul id="reply" class="media-list J_mediaList">
                            {volist name="comments" id="vo"}
                            <li>
                                <div class="media-left">
                                    <a href="/member/index/5086.html" rel="author" data-original-title="" title=""><img
                                            class="media-object" src="{$vo.avatar}"
                                            alt="a314603132" data-bd-imgshare-binded="1"></a>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="/member/index/5086.html" rel="author" data-original-title="" title="">{$vo.account}</a>
                                        评论于 {$vo.create_time|date="Y-m-d H:i:s",###}
                                    </div>
                                    <div class="media-content">

                                        <div class="J-media">

                                            <div class="media">
                                                {$vo.comment_content}
                                            </div>
                                        </div>
                                    </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <input type="hidden" value="/comment/reply.html" class="j_reply_url">
                </div>

                <div class="page-comment">
                    <div class="panel">

                        {if condition="$Think.session.open_user_username"}
                        <div class="panel-content">
                            <form id="w1" action="{:url('/frontend/index/commentStore')}" method="post" role="form">
                                <input type="hidden" id="commentform-post_id" class="form-control" name="post_id"
                                       value="{$article.id}">
                                <input type="hidden" id="commentform-user_id" class="form-control" name="user_id"
                                       value="{$userInfo.id}">
                                <textarea name="comment_content" id="comment_content"
                                          style="width:600px;height:200px;"></textarea>
                                <div class="form-actions center">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </form>
                        </div>
                        {else /}
                        <div class="well danger">您需要登录后才可以评论哦! <a href="{:url('frontend/member/signin')}">登录</a> | <a
                                href="{:url('frontend/member/signup')}">立即注册</a></div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel">
                <div class="panel-title box-title">
                    <span>最新文章</span>
                    <span class="pull-right"><a href="/post/index.html" class="font-12">更多»</a></span>
                </div>
                <div class="new last-post J_lastTime">
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    SyntaxHighlighter.all();
</script>
<script type="text/javascript" charset="utf-8">
    window.UEDITOR_HOME_URL = "__COMMON__/plugins/ueditor/";
    var ue = UE.getEditor('comment_content', {
        initialFrameWidth: 800,   //初始化宽度
        initialFrameHeight: 200,   //初始化高度
        serverUrl: "{:url('/frontend/index/saveinfo')}"
    });
</script>