<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index index html</h1>
Tinywan ：<iframe src="https://ghbtns.com/github-btn.html?user=Tinywan&repo=php-project-practice&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe><p></p>
Tinywan ：<iframe src="https://ghbtns.com/github-btn.html?user=Tinywan&repo=Html5-m3u8-RTMP&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe><p></p>
Lua-Nginx-Redis ：<iframe src="https://ghbtns.com/github-btn.html?user=Tinywan&repo=Lua-Nginx-Redis&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>

<img src="https://avatars3.githubusercontent.com/u/14959876?v=3" alt="">
</body>
</html>