<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#ID</th>
            <th>流名称</th>
            <th>推流域名</th>
            <th>应用名称</th>
            <th>开始/结束时间</th>
            <th>推流IP地址</th>
            <th>推流IP地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='lists' id='vo'}
        <tr class="gradeX">
            <td>{$vo['id']}</td>
            <td>{$vo['stream_name']}</td>
            <td>{$vo['domain_name']}</td>
            <td>{$vo['app_name']}</td>
            <td>
                开始时间：{$vo['start_time']|date="Y-m-d H:i:s",###}<br/>
                结束时间：
                {empty name="$vo['stop_time']"}
                正在推流
                {else /}
                {$vo['stop_time']|date="Y-m-d H:i:s",###}
                {/empty}
            </td>
            <td>{$vo['client_ip']|ip_format}</td>
            <td>
                {switch name="vo.action"}
                {case value="publish_done"}
                <span class="badge label-success "><i class="icon-save"></i>&nbsp;已完成</span>
                {/case}
                {case value="publish"}
                <span class="badge badge-yellow"><i class="icon-refresh icon-spin primary"></i>&nbsp;正在推流中</span>
                {/case}
                {default /}
                <span class="badge label-danger" title="{$vo.editmsg}"><i class="icon-warning-sign"></i>&nbsp;生成失败</span>
                {/switch}
            </td>
            <td>
                <a href="{:url('backend/category/subpage',['id'=>$vo['id']])}">
                    <button class="btn btn-primary btn-xs">
                        <i class="icon-folder-open"></i>详情
                    </button>
                </a>
                <a href="javascript:playModal('{$vo.domain_name}','{$vo.app_name}','{$vo.stream_name}');">
                    <button class="btn btn-warning btn-xs">
                        <i class="icon-play-circle"></i>预览
                    </button>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div>{$lists->render()}</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">预览播放</h5>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <video id="live-stream" class="video-js vjs-default-skin" controls autoplay>
                        <source src="https://lives.tinywan.com/live123/8001513243629.m3u8"
                                type="application/x-mpegURL">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__COMMON__/videojs/videojs/video.js"></script>
<script src="__COMMON__/videojs/videojs/videojs-contrib-hls.min.js"></script>
<script>
    var options = {
        width: 540,
        height: 380
    };
    var player = videojs('live-stream', options);

//    player.on(['loadstart', 'play', 'playing', 'firstplay', 'pause', 'ended', 'adplay', 'adplaying', 'adfirstplay', 'adpause', 'adended', 'contentplay', 'contentplaying', 'contentfirstplay', 'contentpause', 'contentended', 'contentupdate'], function (e) {
////        console.warn('VIDEOJS player event: ', e.type);
//        if (e.type == "play") {
//            console.log('开始播放');
//        } else if (e.type == "playing") {
//            console.log('正在播放...');
//        } else if (e.type == "pause") {
//            console.log('暂停视频播放');
//        } else if (e.type == "firstplay") {
//            console.log('firstplay播放');
//        } else {
//            console.log('1111111111111');
//        }
//    });

    function playModal(domainName, appName, streamName) {
        $("#playModal").modal("show");
//        console.log("https://" + domainName + '/' + appName + '/' + streamName + '.m3u8');
//        $("#live-stream").html('<source id="source-container" src="https://' + domainName + '/' + appName + '/' + streamName + '.m3u8" type="application/x-mpegURL" >');
//        //你在动态赋值src后要加载这个视频文件即:
////        $("#live-stream").load();
//        player.play();
    }

</script>