<style type="text/css">

    .table th, .table td {
        vertical-align: middle !important;
    }

    .wrapper {
        margin-left: -20px;
        margin-right: -19px;
        margin-bottom: -24px;
        margin-top: -17px;
    }
</style>
<script>
    function fresh(){
        window.location.reload();   //刷新整页
    }
</script>
<div class="row">
    <div class="alert alert-info no-margin">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>

        <i class="icon-umbrella bigger-120 blue"></i>
        推流地址：rtmp://video-center.alivecdn.com/{live}/{流名称}?vhost={推流域名}<br/>
        <i class="icon-facetime-video bigger-120 blue"></i>
        eg：rtmp://stream.tinywan.com/<strong>live123</strong>/<strong>8001513259043</strong>?vhost= <strong>lives.tinywan.com</strong>

    </div>
    <div class="hr dotted"></div>
    <table class="table table-striped table-hover" id="iframeout">
        <thead>
        <tr>
            <th>推流地址</th>
            <th>应用名称</th>
            <th>推流时间</th>
            <th>推流地域</th>
            <th>操作&nbsp;&nbsp;&nbsp;&nbsp;
                <button onclick="fresh()" class="btn btn-xs">
                    <i class="icon-refresh bigger-110"></i>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        {volist name='lists' id='vo'}
        <tr class="gradeX">
            <td>rtmp://stream.tinywan.com/{$vo['app_name']}/{$vo['stream_name']}?vhost={$vo['domain_name']}&nbsp;&nbsp;&nbsp;
                <span class="pink smaller lighter copy-url"
                data-clipboard-text="rtmp://stream.tinywan.com/{$vo['app_name']}/{$vo['stream_name']}?vhost={$vo['domain_name']}"
                style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>
            </td>
            <td>{$vo['app_name']}</td>
            <td>
                起:&nbsp;&nbsp;{$vo['start_time']|date="Y-m-d H:i:s",###}<br/>
                止:&nbsp;{empty name="$vo['stop_time']"}
                <i class="icon-spinner icon-spin green"></i> <span class="smaller lighter green">正在推流</span>
                {else /}
                {$vo['stop_time']|date="Y-m-d H:i:s",###}
                {/empty}
            </td>
            <td>{$vo['client_ip']|ip_format}</td>
            <td>
                <a  href="javascript:liveAddressModal('{$vo.domain_name}','{$vo.app_name}','{$vo.stream_name}');">
                    <button class="btn btn-primary btn-xs">
                        <i class="icon-laptop"></i>&nbsp;直播地址
                    </button>
                </a>
                <a href="javascript:playModal('{$vo.domain_name}','{$vo.app_name}','{$vo.stream_name}');">
                    <button class="btn btn-pink btn-xs">
                        <i class="icon-play-circle"></i>&nbsp;预览
                    </button>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div>{$lists->render()}</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title"><i class="icon-play-circle"></i> 预览播放</h5>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <video id="live-stream" class="video-js vjs-default-skin" controls autoplay>
                        <source src="" type="application/x-mpegURL">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 直播推流地址（Modal） -->
<div class="modal fade" id="liveAddressModal" tabindex="-1" role="dialog" aria-labelledby="liveAddressModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title"><i class="icon-play-circle"></i> 直播地址</h5>
            </div>
            <div class="modal-body">
                <strong>RTMP 格式:&nbsp;</strong>
                <span class="rtmp-copy-url">0</span>&nbsp;&nbsp;&nbsp;
                <span class="pink lighter copy-url-address" data-clipboard-text="123" style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>

                <div class="hr dotted"></div>
                <strong>FLV 格式:&nbsp;</strong>
                <span class="flv-copy-url">0</span>&nbsp;&nbsp;&nbsp;
                <span class="pink lighter copy-url-address" data-clipboard-text="456" style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>
                <div class="hr dotted"></div>
                <strong>M3U8 格式:&nbsp;</strong>
                <span class="hls-copy-url">0</span>&nbsp;&nbsp;&nbsp;
                <span class="pink lighter copy-url-address" data-clipboard-text="789" style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="width: 75px">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 复制粘贴模态框（Modal） -->
<div class="modal fade" id="copyUrl" tabindex="-1" role="dialog" aria-labelledby="copyUrl" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title"><i class="icon-copy"></i> 复制成功</h5>
            </div>
            <div class="modal-body">
                <p></p>
                <img  src="__COMMON__/images/success.svg" alt="" width="40"/>&nbsp;&nbsp;&nbsp;
                <span class="auth-msg"> 链接地址已复制到粘贴板，点击右键“粘贴” 或 Ctrl+V 获取。</span>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-sm btn-info" data-dismiss="modal" style="width: 75px">确定</a>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    var clipboard = new Clipboard('.copy-url');
    clipboard.on('success', function(e) {
        console.log(e);
        $("#copyUrl").modal("show");
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
});
</script>

<script>
    function playModal(domainName, appName, streamName) {
        $("#playModal").modal("show");
        var options = {
            width: 578,
            height: 320
        };
        $("#live-stream").html('<source src="https://' + domainName + '/' + appName + '/' + streamName + '.m3u8" type="application/x-mpegURL">');
        videojs("live-stream", options).ready(function () {
            var myPlayer = this;
            myPlayer.play();
        });
        console.log("https://" + domainName + '/' + appName + '/' + streamName + '.m3u8');
    }

    /**
     * 直播推流地址
     */
    function liveAddressModal(domainName, appName, streamName) {
        $("#liveAddressModal").modal("show");
        $(".rtmp-copy-url").html("rtmp://"+domainName+"/"+appName+"/"+streamName);
        $(".flv-copy-url").html("https://"+domainName+"/"+appName+"/"+streamName+'.flv');
        $(".hls-copy-url").html("https://"+domainName+"/"+appName+"/"+streamName+'.m3u8');
        //设置值
//        console.log($(".rtmp-copy-url").children('span').children());
//        console.log($(".flv-copy-url").parent().children(".copy-url-address").attr("data-clipboard-text"));
//        console.log($(".hls-copy-url,.copy-url-address").attr("data-clipboard-text"));
        $(".rtmp-copy-url,.copy-url-address").attr("data-clipboard-text","rtmp://"+domainName+"/"+appName+"/"+streamName);
        $(".flv-copy-url.copy-url-address").attr("data-clipboard-text","http://"+domainName+"/"+appName+"/"+streamName+'.flv');
        $(".hls-copy-url.copy-url-address").attr("data-clipboard-text","http://"+domainName+"/"+appName+"/"+streamName+'.flv');
    }

</script>

<script>
$(function () {
    var clipboard = new Clipboard('.copy-url-address');
    clipboard.on('success', function(e) {
        console.log(e);
        $("#copyUrl").modal("show");
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
});
</script>