<div class="page-content">
    <div class="page-header">
        <h1>
            视频列表
            <small>
                <i class="icon-double-angle-right"></i>
                直播录像详细信息列表
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="row-fluid">
                <ul class="ace-thumbnails">
                    {volist name="videos" id="vo"}
                    <li>
                        <a href="__COMMON__/images/wecaht.png" title="Photo Title" data-rel="colorbox" class="cboxElement">
                            <img alt="50x50" src="https://vod.tinywan.com/vod/123456-150658994020170928171220.jpg" width="260" height="260">
                            <div class="tags">
                                <span class="label-holder">
                                    <span class="label label-info">编号：{$vo['streamName']}</span>
                                </span>

                                <span class="label-holder">
                                    <span class="label label-danger">名称：{$vo['fileName']}</span>
                                </span>

                                <span class="label-holder">
                                    <span class="label label-success">开始时间：{$vo['fileTime']}</span>
                                </span>

                                <span class="label-holder">
                                    <span class="label label-warning arrowed-in">结束时间：{$vo['createTime']}</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>