<div class="page-content" >
    <div class="btn-group" >
        <form action="{:url('/backend/live/indexRecord')}" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-6" style="width: 250px;">
                    <div class="input-group date form_date col-md" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss"
                         data-link-field="dtp_input1" data-link-format="yyyy-mm-dd hh:ii:ss">
                        <input class="form-control" name="liveStartTime" id="liveStartTime" value="" size="20"
                               type="text" placeholder="按照时间查询视频回顾">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">搜索</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="border: 1px solid #cccccc; padding-left: 5px; padding-top: 15px; padding-bottom: 15px;">
                <div class="col-sm-4">
                    <video controls id="live-stream" class="video-js vjs-default-skin" onvolumechange="myFunction()"
                           onpause="myFunction2()">
                        <source src="https://tbm.alicdn.com/CQl8JnhZAtzu6sMYSdR/lZvpsrJgwzJs9MWaHQT%40%40sd.mp4"
                                type="video/mp4"></source>
                    </video>
                </div><!-- /span -->

                <div class="col-sm-8 ">
                    <div class="row">
                        <h5><i class="icon-facetime-video"></i> 视频素材</h5>
                        <hr>
                        <a href="#" class="btn btn-app btn-primary no-radius">
                            <i class="icon-plus bigger-230"></i>
                            添加视频
                        </a>
                    </div>
                </div><!-- /span -->
            </div>
        </div>
    </div>
    <div class="row"  style="border: 1px solid #cccccc; padding-left: 5px; padding-top: 15px; padding-bottom: 15px;">
        <div class="col-sm-12">
            <video width="320" height="240" controls>
                <source src="https://tbm.alicdn.com/CQl8JnhZAtzu6sMYSdR/lZvpsrJgwzJs9MWaHQT%40%40sd.mp4" type="video/mp4">
                <source src="forrest_gump.ogg" type="video/ogg">
                <track src="subtitles_en.vtt" kind="subtitles" srclang="en"
                       label="English">
                <track src="subtitles_no.vtt" kind="subtitles" srclang="no"
                       label="Norwegian">
            </video>
        </div>
    </div>
</div><!-- /.row -->
</div>
<script type="text/javascript" charset="utf-8"
        src="__COMMON__/bootstrap-3.3.7/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    var firstDayOfMonth = function () {
        // your special logic...
        return 0;
    };
    var d = new Date();
    var currMonth = d.getMonth() - 1;
    var currYear = d.getFullYear() - 1;
    var startDate = new Date(currYear, currMonth, firstDayOfMonth());
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd",
        weekStart: true,
        todayBtn: true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        startDate: startDate,
        forceParse: 0,
        showMeridian: false,
        minuteStep: 1,
        minView: "month",
        pickerPosition: "bottom-left"
    });


    //删除
    var promptId = null;
    function promptDelete(liveId) {
        promptId = liveId;
        $("#promptModal").modal("show");
    }

    function deleteChannel() {
        $("#promptModal").modal("hide");
        if (promptId != null) {
            $.post("/lives/" + promptId + "/delete", function (data) {
                if (data.errcode == 500) {
                    alert(data.errmsg)
                } else {
                    $("#liveId_" + promptId).remove();
                }
            }).fail(function (e) {
                alert("删除失败: " + e);
            });
        }
    }

    //放入婚庆首页轮播区
    var spreadId = null;
    function promptSpread(liveId, spread) {
        promptId = liveId;
        spreadId = spread;
        $("#spread_modalLabel").text(liveId);
        $("#spread").val(spreadId);
        $("#spreadModal").modal("show");
    }

    function SpreadChannel() {
        var i = $("#spread").val();
        if (!isNaN(i) && i != "") {
            $("#spreadModal").modal("hide");
            $("#spread_error").text("");
            if (promptId != null) {
                $.post("/lives/" + promptId + "/spread", {spread: i}, function (data) {
                    if (data.errcode == 500) {
                        alert(data.errmsg)
                    } else {
                        window.location.reload();
                    }
                }).fail(function (e) {
                    alert("错误: " + e);
                });
            }
        } else {
            $("#spread_error").text("必须为数字！");
        }
    }

    $("#search_submit").click(function () {
        if ($("#search_value").val() == "") {
            location.href = "/lives";
            return false;
        }
    })
</script>
<script src="__COMMON__/videojs/videojs/video.js"></script>
<script src="__COMMON__/videojs/videojs/videojs-contrib-hls.min.js"></script>
<script>
    var options = {
        width: 520,
        height: 280
    }
    var player = videojs('live-stream', options);
    player.addClass('vjs-matrix');

    player.on(['loadstart', 'play', 'playing', 'firstplay', 'pause', 'ended', 'adplay', 'adplaying', 'adfirstplay', 'adpause', 'adended', 'contentplay', 'contentplaying', 'contentfirstplay', 'contentpause', 'contentended', 'contentupdate'], function (e) {
//        console.warn('VIDEOJS player event: ', e.type);
        if (e.type == "play") {
            console.log('开始播放');
        } else if (e.type == "playing") {
            console.log('正在播放...');
        } else if (e.type == "pause") {
            console.log('暂停视频播放');
        } else if (e.type == "firstplay") {
            console.log('firstplay播放');
        } else {
            console.log('1111111111111');
        }
    });

</script>
