<style>
    .progress {
        position: relative;
        width: 100%;
        height: 42px;
        border: 1px solid #ddd;
        padding: 2px;
        font-size: 18px;
    }

    .bar {
        background-color: #2c7659;
        width: 0%;
        height: 36px;
        border-radius: 3px;
        font-size: 18px;
    }

    .percent {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: 48%;
        margin-bottom: 3px;
    }

    #live_images img {
        -moz-box-shadow: 3px 3px 4px #000;
        -webkit-box-shadow: 3px 3px 4px #000;
        box-shadow: 3px 3px 4px #000;
        background: #fff;
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#live-image">
                        <i class="red  icon-cogs bigger-110"></i>
                        图片管理
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#live-record">
                        <i class="blue   icon-laptop bigger-110"></i>
                        回顾列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#live-comment">
                        <i class="red  icon-cogs bigger-110"></i>
                        评论管理
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#email-config">
                        <i class="green  icon-envelope bigger-110"></i>
                        观看控制
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- 图片管理 -->
                <div id="live-image" class="tab-pane in active">
                    <button class="btn btn-info btn-sm">
                        <i class="icon-exchange align-top bigger-125"></i>
                        排序
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <i class="icon-bookmark align-top bigger-125"></i>
                        价格
                    </button>
                    <button class="btn btn-purple btn-sm" data-toggle="modal" data-target="#imageUploadModal">
                        <i class="icon-bookmark align-top bigger-125"></i>
                        上传图片
                    </button>
                    </p>
                    <hr>
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <ul class="ace-thumbnails" id="live_images">
                                {volist name="lives" id="vo"}
                                <li>
                                    <img alt="50x50"
                                         src="{$Think.config.aliyun_oss.DOMAIN}data/{$vo.id}/video/{$vo.path}"
                                         width="263" height="220">
                                </li>
                                {/volist}
                            </ul>
                            <p></p>
                            <div>{$lives->render()}</div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div>

                <!-- 回顾 -->
                <div id="live-record" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <ul class="ace-thumbnails">
                                {volist name="videos" id="vo"}
                                <li>
                                    <a href="{$Think.config.aliyun_oss.DOMAIN}data/{$vo.streamName}/video/{$vo.name}.mp4"
                                       target="_blank" title="Photo Title" data-rel="colorbox" class="cboxElement">
                                        <img alt="50x50"
                                             src="{$Think.config.aliyun_oss.DOMAIN}data/{$vo.streamName}/video/{$vo.name}.jpg"
                                             width="260" height="220">
                                        <div class="tags">
                                <span class="label-holder">
                                    <span class="label label-info">编号:{$vo['streamName']}</span>
                                </span>

                                            <span class="label-holder">
                                    <span class="label label-danger">ID:{$vo['fileName']}</span>
                                </span>

                                            <span class="label-holder">
                                    <span class="label label-success arrowed-in">开始时间:{$vo['fileTime']}</span>
                                </span>

                                            <span class="label-holder">
                                    <span class="label label-warning arrowed-in">结束时间:{$vo['createTime']}</span>
                                </span>
                                        </div>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div><!-- /.col -->
                        <p></p>
                        <div>{$videos->render()}</div>
                    </div><!-- /.row -->
                </div>

                <!-- 评论管理 -->
                <div id="live-comment" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="widget-box ">
                        <div class="widget-header">
                            <h4 class="lighter smaller">
                                <i class="icon-comment blue"></i>
                                直播间评论列表
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <div class="slimScrollDiv"
                                     style="position: relative; overflow: hidden; width: auto; height: 300px;">
                                    <div class="dialogs" style="overflow: hidden; width: auto; height: 300px;">
                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Alexa's Avatar" src="__STATIC__/avatars/avatar1.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="green">4 sec</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Alexa</a>
                                                </div>
                                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Quisque commodo massa sed ipsum porttitor facilisis.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="John's Avatar" src="__STATIC__/avatars/avatar2.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="blue">38 sec</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">John</a>
                                                </div>
                                                <div class="text">Raw denim you probably haven't heard of them jean
                                                    shorts Austin.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Bob's Avatar" src="__STATIC__/avatars/avatar3.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="orange">2 min</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Bob</a>
                                                    <span class="label label-info arrowed arrowed-in-right">admin</span>
                                                </div>
                                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Quisque commodo massa sed ipsum porttitor facilisis.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Jim's Avatar" src="__STATIC__/avatars/avatar4.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="grey">3 min</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Jim</a>
                                                </div>
                                                <div class="text">Raw denim you probably haven't heard of them jean
                                                    shorts Austin.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slimScrollBar ui-draggable"
                                         style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 252.809px; background: rgb(0, 0, 0);"></div>
                                    <div class="slimScrollRail"
                                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>

                                <form>
                                    <div class="form-actions">
                                        <div class="input-group">
                                            <input placeholder="请输入要说的内容..." type="text"
                                                   class="form-control" name="message">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-info no-radius" type="button">
                                                    <i class="icon-share-alt"></i>
                                                    发送
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /widget-main -->
                        </div><!-- /widget-body -->
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>

                <!-- 邮箱配置 -->
                <div id="email-config" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <form action="{:url('backend/system/emailconfig')}" method="post" class="form-horizontal"
                          role="form">
                        <table class="table table-border table-bordered table-bg mt-20">
                            <tr>
                                <th colspan='2'><span
                                        class="label label-xlg arrowed-right arrowed-in-right">邮件发送基本信息配置</span></th>
                            </tr>
                            <tr>
                                <td width='10%' align='right'>发件人：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_FROM_NAME'
                                           value='{$Think.config.email.EMAIL_FROM_NAME}'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>smtp：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_SMTP_HOST'
                                           value='{$Think.config.email.EMAIL_SMTP_HOST}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>账号：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_USERNAME'
                                           value='{$Think.config.email.EMAIL_USERNAME}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>密码：</td>
                                <td>
                                    <input type="password" class="col-sm-3" name='EMAIL_PASSWORD'
                                           value='{$Think.config.email.EMAIL_PASSWORD}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>密码</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_FROM_NAME'
                                           value='{$Think.config.email.EMAIL_FROM_NAME}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件接收域名：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='DB_PORT' value='{$Think.server.HTTP_HOST}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件过期时间(分钟)：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_SEND_EXPIRE_TIME'
                                           value='{$Think.config.email.EMAIL_SEND_EXPIRE_TIME}'
                                           class='len400'/>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件发送秘钥：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_SEND_PRIVATE_KEY'
                                           value='{$Think.config.email.EMAIL_SEND_PRIVATE_KEY}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center' height='60'>
                                    <input type="submit" value='保存' class='btn btn-success'/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- 微信配置 -->
                <div id="wechat-config" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <form action="{:url('backend/system/wechatconfig')}" method="post" class="form-horizontal"
                          role="form">
                        <table class="table  table-bordered table-hover">
                            <tr>
                                <th colspan='2'><span
                                        class="label label-xlg arrowed-right arrowed-in-right">微信公众号配置信息</span></th>
                            </tr>
                            <tr>
                                <td width='10%' align='right'>APP_ID：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='APP_ID'
                                           value='{$Think.config.wechat.APP_ID}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>APP_SECRET：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='APP_SECRET'
                                           value='{$Think.config.wechat.APP_SECRET}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center' height='60'>
                                    <input type="submit" value='保存' class='btn btn-success'/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div>
        </div>
    </div><!-- /span -->
</div><!-- /row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="imageUploadModalLabel">
                    异步上传
                </h4>
            </div>
            <div class="modal-body">
                <form action="{:url('backend/live/liveImageUpload')}" method="post" enctype="multipart/form-data">
                    <div class="ace-file-input ace-file-multiple">
                        <div class="ace-file-input ace-file-multiple">
                            <input multiple="" type="file" id="id-input-file-3" class="video_file" name="video_file">
                        </div>
                    </div>
                    <input class="input-medium" type="hidden" name="id" value="{:input('param.id')}">
                    <button class="btn btn-info btn-block" type="submit">开始上传</button>
                </form>
                <p></p>
                <div class="progress">
                    <div class="bar"></div>
                    <div class="percent">0%</div>
                </div>
                <hr>
                <div id="status">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
<script>
    // Success before include CommonJS
    function successShow($msg) {
        $("#auth-image").attr('src', '__COMMON__/images/success.svg');
        $(".auth-msg").html($msg);
        $("#authHanderModal").modal("show");
    }

    // Fail before include CommonJS
    function failShow($msg) {
        $(".modal-body").css("color", "red");
        $("#auth-image").attr('src', '__COMMON__/images/error.svg');
        $(".auth-msg").html($msg);
        $("#authHanderModal").modal("show");
    }

    $(function () {
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        $('form').ajaxForm({
            beforeSerialize: function () {
                //alert("表单数据序列化前执行的操作！");
                //$("#txt2").val("java");//如：改变元素的值
            },
            beforeSubmit: function () {
                //alert("表单提交前的操作");
                var limitFileSize = 800;
                var filesize = $("input[type='file']")[0].files[0].size / 1024 / 1024;
                if (filesize > limitFileSize) {
                    failShow("文件大小超过限制，最大限制为：" + limitFileSize + 'M')
                    return false;
                }
            },
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //position 已上传了多少
                //total 总大小
                //已上传的百分数
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
                console.log(percentVal, position, total);
            },
            success: function (data) {
                console.log('success ---- ' + data);
                var percentVal = '100%';
                bar.width(percentVal);
                percent.html(percentVal);
                $("#imageUploadModal").modal("hide");
                successShow('上传成功');
            },
            error: function (err) {
                $("#imageUploadModal").modal("hide");
                failShow('上传失败');
            },
            complete: function (xhr) {
                var $data = JSON.parse(xhr.responseText); //由JSON字符串转换为JSON对象，json转成object
                console.log("------xhr.responseText------" + xhr.responseText);
                console.log("-------dasdasdsa-----" + $data);
                var $li = '<li>' +
                    '<img alt="50x50" src="{$Think.config.aliyun_oss.DOMAIN}data/201710007/video/' + $data.data.image_path + '" width="263" height="220">' +
                    '</li>';
                $("#live_images").prepend($li);
            }
        });
//        $('#imageUploadModal').on('hide.bs.modal', function () {
//            window.location.reload();
//        });
    });

</script>