<style>
    .progress {
        position: relative;
        width: 100%;
        height: 42px;
        border: 1px solid #ddd;
        padding: 2px;
        font-size: 18px;
    }

    .bar {
        background-color: #2c7659;
        width: 0%;
        height: 36px;
        border-radius: 3px;
        font-size: 18px;
    }

    .percent {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: 48%;
        margin-bottom: 3px;
    }

    #live_images img {
        -moz-box-shadow: 3px 3px 4px #000;
        -webkit-box-shadow: 3px 3px 4px #000;
        box-shadow: 3px 3px 4px #000;
        background: #fff;
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }

    .wrapper {
        margin-left: -20px;
        margin-right: -19px;
        margin-bottom: -24px;
        margin-top: -17px;
    }

    .wrapper_player {
        height: 160px;
        width: 180px;
        padding-top: 54px;
        padding-left: 60px;
        background: #fff;
    }

    #video_player {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        background-image: url(__COMMON__/images/play3.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60px 60px;
    }

    .wrapper_player:hover {
        -webkit-filter: grayscale(70%);
    }

    #video_player:hover {
        background-image: url(__COMMON__/images/play1.png);
    }

    .ace-thumbnails > li {
        border: 1px solid #7cb4d8;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#live-detail-list">
                        <i class="red  icon-cogs bigger-110"></i>
                        直播流详情
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#live-image">
                        <i class="red  icon-cogs bigger-110"></i>
                        图片管理
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#live-record">
                        <i class="blue   icon-laptop bigger-110"></i>
                        回顾列表
                    </a>
                </li>

                <li>
                    <a href="{:url('/backend/live/uploadVideoManage',['id'=>$liveId])}" target="_blank">
                        <i class="blue icon-laptop bigger-110"></i>
                        上传视频
                    </a>
                </li>

                <li>
                    <a href="{:url('live/Index/detail',['id'=>$liveId])}" target="_blank">
                        <i class="blue icon-laptop bigger-110"></i>
                        预览
                    </a>
                </li>

                <li>
                    <a href="{:url('live/Live/detail',['id'=>$liveId])}" target="_blank">
                        <i class="blue icon-laptop bigger-110"></i>
                        VideoJs预览
                    </a>
                </li>

                <!--<li>-->
                <!--<a data-toggle="tab" href="#live-comment">-->
                <!--<i class="red  icon-cogs bigger-110"></i>-->
                <!--评论管理-->
                <!--</a>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a data-toggle="tab" href="#email-config">-->
                <!--<i class="green  icon-envelope bigger-110"></i>-->
                <!--观看控制-->
                <!--</a>-->
                <!--</li>-->
            </ul>

            <div class="tab-content">
                <!-- 活动详情页面 -->
                <div id="live-detail-list" class="tab-pane in active">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 pricing-span-header">
                                    <div class="widget-box transparent">
                                        <div class="widget-header">
                                            <h5 class="bigger lighter">详情列表</h5>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <ul class="list-unstyled list-striped pricing-table-header">
                                                    <li>名称</li>
                                                    <li>{$live['name']}</li>
                                                    <li>开始/结束时间</li>
                                                    <li>{$live['liveStartTime']} ~ {$live['liveEndTime']}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-header">
                                            <h5 class="bigger lighter">流信息</h5>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <p></p>
                                                <strong>推流地址:&nbsp;</strong>
                                                <span class="rtmp-copy-url">{$streamInfo['push_flow_address']}</span>&nbsp;&nbsp;&nbsp;
                                                <span class="pink lighter copy-url-address"
                                                      data-clipboard-text="{$streamInfo['push_flow_address']}"
                                                      style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>

                                                <div class="hr dotted"></div>
                                                <strong>RTMP 播放地址:&nbsp;</strong>
                                                <span class="rtmp-copy-url">{$streamInfo['play_rtmp_address']}</span>&nbsp;&nbsp;&nbsp;
                                                <span class="pink lighter copy-url-address"
                                                      data-clipboard-text="{$streamInfo['play_rtmp_address']}"
                                                      style="cursor:pointer;"><i class="icon-copy"></i>&nbsp;复制</span>

                                                <div class="hr dotted"></div>
                                                <strong>FLV 播放地址:&nbsp;</strong>
                                                <span class="flv-copy-url">{$streamInfo['play_flv_address']}</span>&nbsp;&nbsp;&nbsp;
                                                <span class="pink lighter copy-url-address"
                                                      data-clipboard-text="{$streamInfo['play_flv_address']}"
                                                      style="cursor:pointer;"><i
                                                        class="icon-copy"></i>&nbsp;复制</span>

                                                <div class="hr dotted"></div>
                                                <strong>M3U8 播放地址:&nbsp;</strong>
                                                <span class="hls-copy-url">{$streamInfo['play_m3u8_address']}</span>&nbsp;&nbsp;&nbsp;
                                                <span class="pink lighter copy-url-address"
                                                      data-clipboard-text="{$streamInfo['play_m3u8_address']}"
                                                      style="cursor:pointer;"><i
                                                        class="icon-copy"></i>&nbsp;复制</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PAGE CONTENT BEGINS -->
                                </div>

                            </div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div>

                <!-- 图片管理 -->
                <div id="live-image" class="tab-pane">
                    <button class="btn btn-info btn-sm">
                        <i class="icon-exchange align-top bigger-125"></i>
                        排序
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <i class="icon-bookmark align-top bigger-125"></i>
                        价格
                    </button>
                    <button class="btn btn-purple btn-sm" data-toggle="modal" data-target="#imageUploadModal">
                        <i class="icon-bookmark align-top bigger-125"></i>
                        上传图片
                    </button>
                    </p>
                    <hr>
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <ul class="ace-thumbnails" id="live_images">
                                {volist name="lives" id="vo"}
                                <li>
                                    <img alt="50x50"
                                         src="{$Think.config.aliyun_oss.DOMAIN}data/{$vo.id}/video/{$vo.path}"
                                         width="180" height="180">
                                    <p>
                                        <br/>
                                        <button class="btn btn-primary btn-sm">
                                            设置为封面
                                        </button>
                                    </p>
                                </li>
                                {/volist}
                            </ul>
                            <p></p>
                            <div>{$lives->render()}</div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div>

                <!-- 回顾 -->
                <div id="live-record" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            {volist name="videos" id="vo"}
                            <div class="col-xs-6 col-sm-2 pricing-box">
                                <div class="widget-box pricing-box-small">
                                    <div class="widget-header header-color-green">
                                        <h6 class="bigger lighter">{$vo.name|mb_substr=0,24}</h6>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <img src="{$Think.config.aliyun_oss.DOMAIN}data/{$vo.streamName}/video/{$vo.fileName}.jpg"
                                            onerror="this.src='/common/images/video-img-onerror.png'" alt="通用的占位符缩略图" width="100%" height="100%">
                                            <p></p>
                                            <span>时长:{$vo['duration']|gmstrftime="%H:%M:%S",###}&nbsp;&nbsp;&nbsp;&nbsp;大小:{$vo.fileSize|trans_byte}</span>
                                        </div>

                                        <div style="margin: 10px; text-align: center;">
                                            <a href="####" data-id="{$vo.id}" data-live-id="{$liveId}"
                                               class="btn btn-minier btn-primary video-update" role="button">
                                                修改
                                            </a>
                                            <a href="####" data-id="{$vo.id}" data-live-id="{$liveId}"
                                               class="btn btn-minier btn-warning video-cut-button" role="button">
                                                云剪辑
                                            </a>
                                            <a href="####" data-id="{$vo.id}" data-live-id="{$liveId}"
                                               class="btn btn-minier btn-danger video-delete" role="button">
                                                显示
                                            </a>
                                            <a href="####" data-id="{$vo.id}" data-live-id="{$liveId}"
                                               class="btn btn-minier btn-danger video-delete" role="button">
                                                删除
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div><!-- /.col -->
                        <p></p>
                        <div>{$videos->render()}</div>
                    </div><!-- /.row -->
                </div>

                <!-- 评论管理 -->
                <div id="live-comment" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="widget-box ">
                        <div class="widget-header">
                            <h4 class="lighter smaller">
                                <i class="icon-comment blue"></i>
                                直播间评论列表
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <div class="slimScrollDiv"
                                     style="position: relative; overflow: hidden; width: auto; height: 300px;">
                                    <div class="dialogs" style="overflow: hidden; width: auto; height: 300px;">
                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Alexa's Avatar" src="__STATIC__/avatars/avatar1.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="green">4 sec</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Alexa</a>
                                                </div>
                                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Quisque commodo massa sed ipsum porttitor facilisis.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="John's Avatar" src="__STATIC__/avatars/avatar2.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="blue">38 sec</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">John</a>
                                                </div>
                                                <div class="text">Raw denim you probably haven't heard of them jean
                                                    shorts Austin.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Bob's Avatar" src="__STATIC__/avatars/avatar3.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="orange">2 min</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Bob</a>
                                                    <span class="label label-info arrowed arrowed-in-right">admin</span>
                                                </div>
                                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Quisque commodo massa sed ipsum porttitor facilisis.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Jim's Avatar" src="__STATIC__/avatars/avatar4.png">
                                            </div>

                                            <div class="body">
                                                <div class="time">
                                                    <i class="icon-time"></i>
                                                    <span class="grey">3 min</span>
                                                </div>

                                                <div class="name">
                                                    <a href="#">Jim</a>
                                                </div>
                                                <div class="text">Raw denim you probably haven't heard of them jean
                                                    shorts Austin.
                                                </div>

                                                <div class="tools">
                                                    <a href="#" class="btn btn-minier btn-info">
                                                        <i class="icon-only icon-share-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slimScrollBar ui-draggable"
                                         style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 252.809px; background: rgb(0, 0, 0);"></div>
                                    <div class="slimScrollRail"
                                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>

                                <form>
                                    <div class="form-actions">
                                        <div class="input-group">
                                            <input placeholder="请输入要说的内容..." type="text"
                                                   class="form-control" name="message">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-info no-radius" type="button">
                                                    <i class="icon-share-alt"></i>
                                                    发送
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /widget-main -->
                        </div><!-- /widget-body -->
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>

                <!-- 邮箱配置 -->
                <div id="email-config" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <form action="{:url('backend/system/emailconfig')}" method="post" class="form-horizontal"
                          role="form">
                        <table class="table table-border table-bordered table-bg mt-20">
                            <tr>
                                <th colspan='2'><span
                                        class="label label-xlg arrowed-right arrowed-in-right">邮件发送基本信息配置</span></th>
                            </tr>
                            <tr>
                                <td width='10%' align='right'>发件人：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_FROM_NAME'
                                           value='{$Think.config.email.EMAIL_FROM_NAME}'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>smtp：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_SMTP_HOST'
                                           value='{$Think.config.email.EMAIL_SMTP_HOST}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>账号：</td>
                                <td>
                                    <input class="col-sm-3" type="text" name='EMAIL_USERNAME'
                                           value='{$Think.config.email.EMAIL_USERNAME}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>密码：</td>
                                <td>
                                    <input type="password" class="col-sm-3" name='EMAIL_PASSWORD'
                                           value='{$Think.config.email.EMAIL_PASSWORD}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>密码</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_FROM_NAME'
                                           value='{$Think.config.email.EMAIL_FROM_NAME}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件接收域名：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='DB_PORT' value='{$Think.server.HTTP_HOST}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件过期时间(分钟)：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_SEND_EXPIRE_TIME'
                                           value='{$Think.config.email.EMAIL_SEND_EXPIRE_TIME}'
                                           class='len400'/>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>邮件发送秘钥：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='EMAIL_SEND_PRIVATE_KEY'
                                           value='{$Think.config.email.EMAIL_SEND_PRIVATE_KEY}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center' height='60'>
                                    <input type="submit" value='保存' class='btn btn-success'/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- 微信配置 -->
                <div id="wechat-config" class="tab-pane">
                    <!-- PAGE CONTENT BEGINS -->
                    <form action="{:url('backend/system/wechatconfig')}" method="post" class="form-horizontal"
                          role="form">
                        <table class="table  table-bordered table-hover">
                            <tr>
                                <th colspan='2'><span
                                        class="label label-xlg arrowed-right arrowed-in-right">微信公众号配置信息</span></th>
                            </tr>
                            <tr>
                                <td width='10%' align='right'>APP_ID：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='APP_ID'
                                           value='{$Think.config.wechat.APP_ID}'
                                           class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>APP_SECRET：</td>
                                <td>
                                    <input type="text" class="col-sm-3" name='APP_SECRET'
                                           value='{$Think.config.wechat.APP_SECRET}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center' height='60'>
                                    <input type="submit" value='保存' class='btn btn-success'/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div>
        </div>
    </div><!-- /span -->
</div><!-- /row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="imageUploadModalLabel">
                    异步上传
                </h4>
            </div>
            <div class="modal-body">
                <form action="{:url('backend/live/liveImageUpload')}" method="post" enctype="multipart/form-data">
                    <div class="ace-file-input ace-file-multiple">
                        <div class="ace-file-input ace-file-multiple">
                            <input multiple="" type="file" id="id-input-file-3" class="video_file" name="video_file">
                        </div>
                    </div>
                    <input class="input-medium" type="hidden" name="id" value="{:input('param.id')}">
                    <input class="input-medium" type="hidden" name="streamName" value="{:input('param.streamName')}">
                    <button class="btn btn-info btn-block" type="submit">开始上传</button>
                </form>
                <p></p>
                <div class="progress">
                    <div class="bar"></div>
                    <div class="percent">0%</div>
                </div>
                <hr>
                <div id="status">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
<script>
    var $liveId = null;
    var $fileName = null;
    var $videoVersion = 0;
    function playModal(liveId, fileName, version) {
        $("#video-container").children().remove();
        $liveId = liveId;
        $fileName = fileName;
        $videoVersion = version;
        $("#playModal").modal("show");
        console.log("{$Think.config.aliyun_oss.DOMAIN}/data/" + $liveId + "/video/" + $fileName);
        $("#video-container").html('<source id="source-container" src="{$Think.config.aliyun_oss.DOMAIN}data/' + $liveId + '/video/' + $fileName + '.mp4" type="video/mp4">');
        //你在动态赋值src后要加载这个视频文件即:
        $("#video-container").load();
    }

    //弹框复制
    var clipboard2 = new Clipboard('.copy-url-address');
    clipboard2.on('success', function (e) {
        e.clearSelection();
        $("#copyUrl").modal("show");
    });
    clipboard2.on('error', function (e) {
        console.log(e);
    });

    $(function () {
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        $('form').ajaxForm({
            beforeSerialize: function () {
                //alert("表单数据序列化前执行的操作！");
                //$("#txt2").val("java");//如：改变元素的值
            },
            beforeSubmit: function () {
                //alert("表单提交前的操作");
                var limitFileSize = 800;
                var filesize = $("input[type='file']")[0].files[0].size / 1024 / 1024;
                if (filesize > limitFileSize) {
                    failShow("文件大小超过限制，最大限制为：" + limitFileSize + 'M')
                    return false;
                }
            },
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //position 已上传了多少
                //total 总大小
                //已上传的百分数
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
                console.log(percentVal, position, total);
            },
            success: function (data) {
                console.log('success ---- ' + data);
                var percentVal = '100%';
                bar.width(percentVal);
                percent.html(percentVal);
                $("#imageUploadModal").modal("hide");
                successShow('上传成功');
            },
            error: function (err) {
                $("#imageUploadModal").modal("hide");
                failShow('上传失败');
            },
            complete: function (xhr) {
                var $data = JSON.parse(xhr.responseText); //由JSON字符串转换为JSON对象，json转成object
                console.log("------xhr.responseText------" + xhr.responseText);
                console.log("-------dasdasdsa-----" + $data);
                var $li = '<li>' +
                    '<img alt="50x50" src="{$Think.config.aliyun_oss.DOMAIN}data/{$liveId}/video/' + $data.data.image_path + '" width="263" height="220">' +
                    '</li>';
                $("#live_images").prepend($li);
            }
        });
//        $('#imageUploadModal').on('hide.bs.modal', function () {
//            window.location.reload();
//        });

        // 视频编辑列表添加
        $('body').delegate('.video-cut-button', 'click', function () {
            var $url = "{:url('backend/live/addVodToEditList')}";
            var $_data = {
                'live_id': $(this).data('live-id'),
                'video_id': $(this).data('id')
            };
            console.log($_data);
            $.ajax({
                url: $url,
                type: 'post',
                data: $_data,
                dataType: "json",
                //服务器成功响应处理函数
                success: function ($response) {
                    if ($response.code == 200) {
                        successShow($response.msg);
                        window.loaction.reload();
                    } else {
                        failShow($response.msg);
                    }
                },
                //服务器响应失败处理函数
                error: function (data, status, e) {
                    alert(e);
                }
            })
        });
    });

</script>
