<div class="row">
    <div class="col-xs-12 col-sm-12 pricing-box">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="">
                    <a data-toggle="tab" href="#home4">Home</a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#profile4">Profile</a>
                </li>

                <li class="active">
                    <a data-toggle="tab" href="#dropdown14">More</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="home4" class="tab-pane">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                </div>

                <div id="profile4" class="tab-pane">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                </div>

                <div id="dropdown14" class="tab-pane active">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                </div>
            </div>
        </div>
    </div>
</div>