<style type="text/css">

    .table th, .table td {
        vertical-align: middle !important;
    }

    .progress {
        position: relative;
        width: 100%;
        height: 42px;
        border: 1px solid #ddd;
        padding: 2px;
        font-size: 18px;
    }

    .bar {
        background-color: #2ca02c;
        width: 0%;
        height: 36px;
        border-radius: 3px;
        font-size: 18px;
    }

    .percent {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: 48%;
        margin-bottom: 3px;
    }

    .wrapper {
        margin-left: -20px;
        margin-right: -19px;
        margin-bottom: -24px;
        margin-top: -17px;
    }

    .wrapper_player {
        height: 100px;
        width: 180px;
        padding-top: 20px;
        padding-left: 60px;
        border: 1px solid #000;
        -moz-box-shadow: 3px 3px 4px #000;
        -webkit-box-shadow: 3px 3px 4px #000;
        box-shadow: 3px 3px 4px #000;
        background: #fff;
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }

    #video_player {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        background-image: url(__COMMON__/images/play3.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60px 60px;
    }

    .wrapper_player:hover {
        -webkit-filter: grayscale(70%);
    }

    #video_player:hover {
        background-image: url(__COMMON__/images/play1.png);
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#tag-list">
                        <i class="blue icon-list bigger-110"></i>
                        视频素材列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#tag-add">
                        <i class="blue icon-upload bigger-110"></i>
                        上传视频
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tag-list" class="tab-pane in active">
                    <table class="table table-striped">
                        <thead>
                        <tr class="text-c">
                            <th>视频信息</th>
                            <th>素材ID</th>
                            <th>视频大小</th>
                            <th>视频时长</th>
                            <th>来源(全部)</th>
                            <th>上传时间(降序)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!---->
                        {foreach name='videos' key='key' item='vo'}
                        <tr class="text-c" id="tag-{$vo['id']}">
                            <td>
                                <a href="javascript:playModal('{$vo.streamName}','{$vo.fileName}','0');">
                                    <div class="wrapper_player"
                                         style="background-image: url('{$Think.config.aliyun_oss.DOMAIN}/data/{$vo.streamName}/video/{$vo.name}.jpg?x-oss-process=image/resize,m_fixed,h_100,w_180');">
                                        <div id="video_player">
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td style="vertical-align: middle;">{$vo['streamName']}</td>
                            <td style="vertical-align: middle;">{$vo['fileSize']|trans_byte}</td>
                            <td style="vertical-align: middle;">{$vo['duration']|gmstrftime="%H:%M:%S",###}</td>
                            <td style="vertical-align: middle;">上传</td>
                            <td style="vertical-align: middle;">{$vo['createTime']}</td>
                            <td style="vertical-align: middle;">
                                <a href="javascript:delHanderModal({$vo['id']});" class="btn btn-danger btn-xs">
                                    <i class="icon-trash"></i>删除
                                </a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <hr>
                    <div>{$videos->render()}</div>
                </div>
                <!-- 素材上传-->
                <div id="tag-add" class="tab-pane">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4>视频上传模块</h4>
                            <span class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                                <a href="#" data-action="close">
                                    <i class="icon-remove"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>上传说明</strong>
                                    <ul>
                                        <li>Nginx配置文件：client_max_body_size 800m;</li>
                                        <li>php.ini配置文件：
                                            max_execution_time = 3600;
                                            max_input_time = 3600;
                                            post_max_size = 800M;
                                            file_uploads = On;
                                            upload_max_filesize = 800M;
                                            max_file_uploads = 20;
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                                <form action="{:url('backend/live/liveVideoUploadFrom')}" method="post"
                                      enctype="multipart/form-data">
                                    <div>
                                        <label for="form-field-1">
                                            唯一标识符
                                        </label>
                                        <div>
                                            <input class="input-medium" type="text" name="id" value="201710008">
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div>
                                        <label for="form-field-1">
                                            视频截图时间(秒)
                                        </label>
                                        <div>
                                            <input class="input-medium " type="text" name="cut_image_time" value="10">
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div>
                                        <label for="form-field-2">上传描述信息</label>
                                        <textarea class="form-control" id="upload_desc" name="upload_desc"
                                                  placeholder="请输入上传描述信息"></textarea>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="ace-file-input ace-file-multiple">
                                        <div class="ace-file-input ace-file-multiple">
                                            <input multiple="" type="file" id="id-input-file-3" class="video_file"
                                                   name="video_file">
                                        </div>
                                    </div>
                                    <button class="btn btn-info btn-block" type="submit">Upload File to Server</button>
                                </form>
                                <p></p>
                                <div class="progress">
                                    <div class="bar"></div>
                                    <div class="percent">0%</div>
                                </div>
                                <hr>
                                <div id="status">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">预览播放</h5>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <video width="100%" id="video-container" height="100%" controls autoplay>

                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
<script>
    // Success before include CommonJS
    function successShow($msg) {
        $("#auth-image").attr('src', '__COMMON__/images/success.svg');
        $(".auth-msg").html($msg);
        $("#authHanderModal").modal("show");
    }

    // Fail before include CommonJS
    function failShow($msg) {
        $(".modal-body").css("color", "red");
        $("#auth-image").attr('src', '__COMMON__/images/error.svg');
        $(".auth-msg").html($msg);
        $("#authHanderModal").modal("show");
    }

    /**
     * 视频异步上传
     */
    $(function () {
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        $('form').ajaxForm({
            beforeSerialize: function () {
                //alert("表单数据序列化前执行的操作！");
                //$("#txt2").val("java");//如：改变元素的值
            },
            beforeSubmit: function () {
                //如：验证表单数据是否为空
                if ($("#upload_desc").val() == "" || $('.video_file').val() == "") {
                    failShow("上传描述信息,表单数据不能为空")
                    return false;
                }
                //alert("表单提交前的操作");
                var limitFileSize = 800;
                var filesize = $("input[type='file']")[0].files[0].size / 1024 / 1024;
                if (filesize > limitFileSize) {
                    failShow("文件大小超过限制，最大限制为：" + limitFileSize + 'M')
                    return false;
                }

            },
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //position 已上传了多少
                //total 总大小
                //已上传的百分数
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
                console.log(percentVal, position, total);
            },
            success: function (data) {
                console.log('success ---- ' + data);
                var percentVal = '100%';
                bar.width(percentVal);
                percent.html(percentVal);
                successShow(data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
                failShow("表单提交异常！");
            },
            complete: function (xhr) {
                console.log('------' + xhr.responseText);
                var $data = JSON.parse(xhr.responseText); //由JSON字符串转换为JSON对象，json转成object
                var item = '<ul class="list-unstyled spaced">' +
                    '<li>' +
                    '<i class="icon-file bigger-110 purple"></i> 文件名：' + $data.data.Filename +
                    '</li>' +
                    '<li>' +
                    '<i class="icon-crop bigger-110 purple"></i> 扩展名：' + $data.data.Extension +
                    '</li>' +
                    '<li>' +
                    '<i class="icon-resize-vertical bigger-110 purple"></i> 大小：' + $data.data.Size +
                    '</li>' +
                    '<li>' +
                    '<i class="icon-time bigger-110 purple"></i> 时长：' + $data.data.Duration +
                    '</li>' +
                    '<li>' +
                    '<i class="icon-crop bigger-110 purple"></i> 宽度x高度：' + $data.data.width + 'x' + $data.data.height +
                    '</li>' +
                    '<li>' +
                    '<i class="icon-smile bigger-110 purple"></i> 编码格式：' + $data.data.codec_long_name +
                    '</li>' +
                    '</ul>';
                status.html(item);
            }
        });

        $('#playModal').on('hide.bs.modal', function () {
            window.location.reload();
        });
    });

    var $streamName = null;
    var $fileName = null;
    var $videoVersion = 0;
    function playModal(streamName, fileName, version) {
        $("#video-container").children().remove();
        $streamName = streamName;
        $fileName = fileName;
        $videoVersion = version;
        $("#playModal").modal("show");
        console.log("{$Think.config.aliyun_oss.DOMAIN}/data/" + $streamName + "/video/" + $fileName);
        $("#video-container").html('<source id="source-container" src="{$Think.config.aliyun_oss.DOMAIN}/data/' + $streamName + '/video/' + $fileName + '.mp4" type="video/mp4">');
        //你在动态赋值src后要加载这个视频文件即:
        $("#video-container").load();
    }

</script>
