<style type="text/css">
    .material-video-add {
        text-align: center;
        line-height: 80px;
        border: 1px dashed #c3c5c6;
        border-radius: 1px;
        color: #00c1de;
        cursor: pointer;
        box-sizing: border-box;
        width: 120px;
    }
</style>
<div class="page-content">
    <div class="page-header">
        <h1>
            视频编辑
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row"
                 style="border: 1px solid #cccccc; padding-left: 5px; padding-top: 15px; padding-bottom: 15px;">
                <div class="col-sm-4">
                    <video controls="controls" id="live-stream" class="video-js vjs-default-skin">
                        <source src="https://tbm.alicdn.com/CQl8JnhZAtzu6sMYSdR/lZvpsrJgwzJs9MWaHQT%40%40sd.mp4"
                                type="video/mp4"></source>
                    </video>
                </div><!-- /span -->

                <div class="col-sm-8 ">
                    <div class="row">
                        <h5><i class="icon-facetime-video"></i> 视频素材</h5>
                        <hr>
                        <div class="material-video-add"><i class="icon-plus-sign"></i> 添加视频</div>
                    </div>
                </div><!-- /span -->
            </div>
        </div>
    </div>
    <p></p>
    <div class="row" style="border: 1px solid #cccccc; padding-left: 5px; padding-top: 15px; padding-bottom: 15px;">
        <div class="col-sm-12">
            <form action="" class="form-horizontal" method="post">
                <div class="form-group start">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="start-time" name="start_time" placeholder="开始位置(秒)">
                    </div>
                    <button id="btn-start-time" onclick="getStartTime()" type="button" class="btn btn-sm btn-pink">
                        获取当前播放位置作为开始位置
                    </button>
                </div>
                <div class="form-group end">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="end-time" name="end_name" placeholder="截止位置(秒)">
                    </div>
                    <button id="btn-end-time" onclick="getEndTime()" type="button" class="btn btn-sm  btn-purple">
                        获取当前播放位置作为截至位置
                    </button>
                </div>
                <div class="form-group end">
                    <div class="col-lg-4">
                        源视频ID（隐藏域）:
                        <input type="text" class="form-control" disabled="disabled" id="origin-video-id" name="origin_video_id" value="235388">
                    </div>
                </div>

                <div class="form-group end">
                    <div class="col-lg-4">
                        源视频名称（隐藏域）:&nbsp;&nbsp;
                        <input type="text" class="form-control" disabled="disabled" id="origin-video-name" name="origin_video_name" value="CY000235388-150893483820171025203358">
                    </div>
                </div>

                <div class="form-group end">
                    <div class="col-lg-4">
                        <span>新视频名称:</span>&nbsp;&nbsp;
                        <input type="text" class="form-control" id="new-video-name" name="new_video_name" placeholder="请输入新视频名称">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8">
                        <button class="btn btn-sm btn-info" id="cut-button" type="button"><i class="icon-cut bigger-120"></i>&nbsp;剪切</button>
                        <button class="btn btn-sm btn-warning " type="submit"><i class="icon-refresh bigger-120"></i>&nbsp;重置
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit"><i class="icon-save bigger-120"></i>&nbsp;保存
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $videoId = document.getElementById("live-stream");
    var $startTimeId = document.getElementById("start-time");
    var $endTimeId = document.getElementById("end-time");
    var $newVideoNameId = document.getElementById("new-video-name");

    /**
     * 获取开始时间
     */
    function getStartTime() {
        $startTimeId.value = Math.ceil(($videoId.currentTime) * (100)) / 100;
    }

    /**
     * 获取结束时间
     */
    function getEndTime() {
        var $currentTimestamp = Date.parse(new Date());
        $endTimeId.value = Math.ceil(($videoId.currentTime) * (100)) / 100;
        $newVideoNameId.value = '剪切新视频'+$currentTimestamp;
    }

    /**
     * 表单提交操作
     */
    $(document).ready(function () {
        $("#cut-button").click(function () {
            var $startTime = $("#start-time").val();
            var $endTime = $("#end-time").val();
            var $newVideoName = $("#new-video-name").val();
            var $originVideoId = $("#origin-video-id").val();
            var $originVideoName = $("#origin-video-name").val();
            console.log('$startTime'+$startTime+'$newVideoName'+$newVideoName);
            if ($startTime && $endTime && $newVideoName) {
                alert('即将开始剪切，完成后通知你，请稍后...');
                first_ajax_request($startTime, $endTime, $newVideoName,$originVideoId,$originVideoName);
            } else {
                alert('参数不全');
            }
            event.preventDefault();
        });
    });

    /**
     * first_ajax_request
     */
    function first_ajax_request($startTime, $endTime, $newVideoName,$originVideoId,$originVideoName) {
        console.log("first_ajax_request-------------------111111");
        var url = "{:url('backend/live/videoCutOperate')}";
        var data = {
            "start_time": $startTime,
            "end_time": $endTime,
            "new_video_name": $newVideoName,
            "origin_video_id": $originVideoId,
            "origin_video_name": $originVideoName
        };
        var success = function (cc) {
            console.log("-------------------first_ajax_request");
            console.log(cc);
            if (cc.status == 1) {
                //第一次ajax请求成功  访问视频状态
                alert('请求succcess');
                next_ajax_request($startTime, $endTime, $newVideoName,$originVideoId,$originVideoName);
            } else {
                alert('请求错误');
            }
        };
        $.post(url, data, success, 'json');
    }

    /**
     * 视频剪切成功后重新加载视频列表
     */
    function next_ajax_request($startTime, $endTime, $newVideoName,$originVideoId,$originVideoName) {
        console.log('222222222222222');
        var url = "{:url('ffmpeg/Index/videoCutResult')}";
        var data = {
            "new_name": new_name,
            "video_cut_source": video_cut_source
        };
        var success = function (data) {
            console.log("next_ajax_request == "+data);
            if (data) {
                //视频没有处理完成好
                if (data.status == -1) {
                    // alert(cc.filename);
                    if (max_request_length < 100) {
                        setTimeout('next_ajax_request(new_name,video_cut_source)', 5000);
                    } else {
                        alert('请求超时');
                    }
                    max_request_length++;
                } else if (data.status != 1) {
                    alert('操作失败,请重试');
                } else {
                    //视频已经检测到
                    alert(data.desc + " 已经剪好,请在左侧列表中点击播放。");
                    $("#" + data.pid).append("<div class=\"leveltwo\" margin-left:10px id=\"" + data.id + "\"><ul><li><a target=\"_self\" href=\"javascript:openVideo('" + data.playpath + "','" + data.id + "');\">" + data.desc + "</a></li></ul></div>");
                    window.location.reload();
                }
            } else {
                alert('请求错误');
            }
        };
        $.post(url, data, success, 'json');
    }
</script>
<script type="text/javascript" charset="utf-8"
        src="__COMMON__/bootstrap-3.3.7/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    var firstDayOfMonth = function () {
        // your special logic...
        return 0;
    };
    var d = new Date();
    var currMonth = d.getMonth() - 1;
    var currYear = d.getFullYear() - 1;
    var startDate = new Date(currYear, currMonth, firstDayOfMonth());
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd",
        weekStart: true,
        todayBtn: true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        startDate: startDate,
        forceParse: 0,
        showMeridian: false,
        minuteStep: 1,
        minView: "month",
        pickerPosition: "bottom-left"
    });


    //删除
    var promptId = null;
    function promptDelete(liveId) {
        promptId = liveId;
        $("#promptModal").modal("show");
    }

    function deleteChannel() {
        $("#promptModal").modal("hide");
        if (promptId != null) {
            $.post("/lives/" + promptId + "/delete", function (data) {
                if (data.errcode == 500) {
                    alert(data.errmsg)
                } else {
                    $("#liveId_" + promptId).remove();
                }
            }).fail(function (e) {
                alert("删除失败: " + e);
            });
        }
    }

    //放入婚庆首页轮播区
    var spreadId = null;
    function promptSpread(liveId, spread) {
        promptId = liveId;
        spreadId = spread;
        $("#spread_modalLabel").text(liveId);
        $("#spread").val(spreadId);
        $("#spreadModal").modal("show");
    }

    function SpreadChannel() {
        var i = $("#spread").val();
        if (!isNaN(i) && i != "") {
            $("#spreadModal").modal("hide");
            $("#spread_error").text("");
            if (promptId != null) {
                $.post("/lives/" + promptId + "/spread", {spread: i}, function (data) {
                    if (data.errcode == 500) {
                        alert(data.errmsg)
                    } else {
                        window.location.reload();
                    }
                }).fail(function (e) {
                    alert("错误: " + e);
                });
            }
        } else {
            $("#spread_error").text("必须为数字！");
        }
    }

    $("#search_submit").click(function () {
        if ($("#search_value").val() == "") {
            location.href = "/lives";
            return false;
        }
    })
</script>
<script src="__COMMON__/videojs/videojs/video.js"></script>
<script src="__COMMON__/videojs/videojs/videojs-contrib-hls.min.js"></script>
<script>
    var options = {
        width: 520,
        height: 280
    }
    var player = videojs('live-stream', options);
    player.addClass('vjs-matrix');

    player.on(['loadstart', 'play', 'playing', 'firstplay', 'pause', 'ended', 'adplay', 'adplaying', 'adfirstplay', 'adpause', 'adended', 'contentplay', 'contentplaying', 'contentfirstplay', 'contentpause', 'contentended', 'contentupdate'], function (e) {
//        console.warn('VIDEOJS player event: ', e.type);
        if (e.type == "play") {
            console.log('开始播放');
        } else if (e.type == "playing") {
            console.log('正在播放...');
        } else if (e.type == "pause") {
            console.log('暂停视频播放');
        } else if (e.type == "firstplay") {
            console.log('firstplay播放');
        } else {
            console.log('1111111111111');
        }
    });

</script>
