<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#admin-list">
                        <i class="green icon-home bigger-110"></i>
                        管理员列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#admin-add">
                        <i class="green icon-home bigger-110"></i>
                        新增管理员
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="admin-list" class="tab-pane in active">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>排序</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='lists' id='user'}
                        <tr class="text-c">
                            <td>{$user.id}</td>
                            <td>{$user.username}</td>
                            <td>{$user.email}</td>
                            <td>{$user.status}</td>
                            <td>{$user.email}</td>
                            <td>
                                <a href="{:url('backend/admin/updategroup',['id'=>$user['id']])}">
                                    <button class="btn btn-warning btn-xs">
                                        <i class="icon-folder-open"></i>修改用户组
                                    </button>
                                </a>
                                <a href="{:url('backend/admin/edit',['id'=>$user['id']])}">
                                    <button class="btn btn-primary btn-xs">
                                        <i class="icon-edit"></i>编辑
                                    </button>
                                </a>
                                <a href="{:url('backend/admin/delete',['id'=>$user['id']])}">
                                    <button class="btn btn-danger btn-xs">
                                        <i class="icon-trash"></i>删除
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$lists->render()}
                </div>

                <div id="admin-add" class="tab-pane">
                    <form action="{:url('/backend/admin/store')}" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名:</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="User1" name="username" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属用户组:</label>

                            <div class="col-sm-9">
                                <select name="groupid" id="select">
                                    {volist name="groups" id="vo"}
                                    <option value="{$vo['id']}">{$vo['title']}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱:</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-3" placeholder="756684177@qq.com" name="email" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="form-actions center">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->

