<div class="row">
    <div class="col-sm-12">
        <form action="{:url('backend/auth.auth_group/addrules')}" method="post">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>全部权限列表: {$groupTitle}</h4>
                </div>

                <div class="widget-body"
                     style="height: auto; padding-bottom: 50px; padding-right: 30px; padding-top: 20px;">
                    {volist name='allRules' id='vo'}
                    <p style="text-indent: {$vo['level']*20}px; padding-left:10px;padding-right: -40px; {if condition="
                       $vo['level'] neq 1"}float:left;{else/}clear:both;{/if}">
                    <input type="checkbox" id="{$vo['id']}" name="rules[]" value="{$vo['id']}" pid="{$vo['pid']}"
                           level="{$vo['level']}" {if condition="$vo['access']" }checked="checked" {/if}>
                    <span style="font-weight: bolder;font-size: 14px;">{$vo['title']}</span>
                    </p>
                    {/volist}
                </div>
                <div>
                    <input type="hidden" name="groupId" value="{$groupId}"/>
                    <button type="submit" class="btn btn-primary btn-block">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="__JS__/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input:checkbox").click(function () {
            $level = $(this).attr('level'); //获取当前按钮框值。1（表示项目），2（模块），3（操作）
            console.log($level);
            //如果选择 level=1 的话，则会选择它一下的所有checkbox
            if ($level == 1) {
                $str = '_';
                $inputs = $('input[value*=' + $str + ']');  //这里是模糊匹配
                console.log($inputs);
                $(this).prop('checked') ? $inputs.prop('checked', true) : $inputs.removeAttr('checked');
            }
            // 如果选择模块的话，则它下面的方法也一起会被选定，思路：就是模块下面操作的的“pid”都和模块的“id”是相等的
            else if ($level == 2) {
                $id = $(this).attr('id');
                $inputs = $('input[pid = ' + $id + ']');
                $(this).prop('checked') ? $inputs.prop('checked', true) : $inputs.removeAttr('checked');

                if ($(this).prop('checked')) {
                    //追加到上级（项目层），思路(相反):再次获取模块的pid
                    $ppid = $('input[id = ' + $id + ']').attr('pid');
                    $('input[id = ' + $ppid + ']').prop('checked', true);
                }
            }
            //思路：如果当前的操作被选中的话，则获取它的pid，并且设置id(上级模块) = （操作）pid 模块也会被选中
            else if ($level == 3) {
                //判断当前按钮是否被选中
                if ($(this).prop('checked')) {
                    $pid = $(this).attr('pid');
                    $('input[id=' + $pid + ']').prop('checked', true);

                    //追加到上上级（项目层），思路(相反):再次获取模块的pid
                    $ppid = $('input[id = ' + $pid + ']').attr('pid');
                    $('input[id = ' + $ppid + ']').prop('checked', true);
                }

            }
        });
    });
</script>
