<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#category-list">
                        <i class="green icon-home bigger-110"></i>
                        用户组列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#category-add">
                        <i class="green icon-home bigger-110"></i>
                        添加用户组
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="category-list" class="tab-pane in active">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                            <th>名称</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='lists' id='user'}
                        <tr class="text-c">
                            <td>{$user.id}</td>
                            <td>{$user['title']}</td>
                            <td>
                                {if condition="$user['status'] eq 1"}
                                    <button class="btn btn-xs btn-yellow set" value="{$user['id']}"><i class="icon-eye-open"></i>启用</button>
                                {else /}
                                    <button class="btn btn-xs btn-warning set" value="{$user['id']}"><i class="icon-eye-close"></i>禁用</button>
                                {/if}
                            </td>
                            <td>
                                <a href="{:url('backend/auth.auth_group/addrules',['id'=>$user['id']])}">
                                    <button class="btn btn-xs btn-warning">
                                        <i class="icon-edit"></i>配置权限
                                    </button>
                                </a>
                                <a href="{:url('backend/auth.auth_group/edit',['id'=>$user['id']])}">
                                    <button class="btn btn-xs btn-primary">
                                        <i class="icon-edit"></i>编辑
                                    </button>
                                </a>
                                <button class="btn btn-xs btn-danger" onclick="group_del({$user['id']})">
                                    <i class="icon-trash"></i>删除
                                </button>

                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>


                <div id="category-add" class="tab-pane">
                    <form action="{:url('/backend/auth.auth_group/store')}" method="post" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="分类名称" name="title" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 状态 </label>
                            <div class="col-sm-9">
                                <label>
                                    <input name="status" class="ace ace-switch ace-switch-5" type="checkbox" />
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 规则 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" placeholder="过滤规则" name="rules" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-actions center">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->
<script type="text/javascript">
    function group_del($id) {
        var $msg = confirm('确认删除该用户组吗？删除后不可恢复！');
        var url = "{:url('/backend/auth.auth_group/delete')}";
        var data = {
            "id": $id
        };
        var success = function (response) {
            if (response.status == 200) {
                alert('删除success');
                window.location.reload();
            } else {
                alert('请求错误');
            }
        };
        if($msg) $.post(url, data, success, 'json');
    }

</script>
