
<!-- web访问 start -->
<div id="carousel-example-generic_web" class="carousel" style="margin-bottom:0px;" data-ride="carousel">

    <div class="home_banner">
        <div class="carousel-inner" role="listbox"><!--style="width:100%;height:100%;"-->
            <div class="quake-slider-images" id="template_inner">
                {volist name='banners' id='vo'}
                <a target="_blank" href="{$vo.link}">
                    <img src="http://oss.tinywan.com/{$vo.image_origin}"/>
                </a>
                {/volist}
            </div>
        </div>
    </div>
</div>
<!-- web访问 end -->

<div class="page_con" style="display:block;" id="having">

    <div class=" bgcolor1  bddown_set">
        <div class="Look_course">
            <div class="container-fluid activities">

                <div class="event_list clearfix slide secondtime" id="theme1">
                    {volist name='vods' id='vo'}
                    <div class="col-ls-5">
                        <a href="vod/{$vo.id}.html"
                           target="_blank">
                            <div class="li">
                                <div class="event_cover" style="height:126px">
                                    <img src="{$vo.image_url}"/>
                                    <p class="img_span" style="margin-left: 0px;"><span>{$vo.name}</span><em class="forword">回顾</em></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="teams_fluid ">
            <div class="section_title">
                <h2>知识分享平台</h2>
            </div>
            <div class="team_box clearfix" id="teams">
                <div class="team">
                    <a class="brand" href="/category/detail?category=209&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/ai_ico.png">
                        <span class="catename">人工智能</span>
                        <span class="video">273个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=200&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/bigdata_ico.png">
                        <span class="catename">大数据</span>
                        <span class="video">364个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=201&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/cloud_ico.png">
                        <span class="catename">云计算</span>
                        <span class="video">261个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=202&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/rongqi_ico.png">
                        <span class="catename">容器</span>
                        <span class="video">93个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=203&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/devops_ico.png">
                        <span class="catename">DevOps</span>
                        <span class="video">102个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=207&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/shujuku_ico.png">
                        <span class="catename">数据库</span>
                        <span class="video">285个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=254&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/kubernetes_ico.png">
                        <span class="catename">Kubernetes</span>
                        <span class="video">62个视频</span>
                    </a>
                </div>
                <div class="team">
                    <a class="brand" href="/category/detail?category=205&amp;type=video">
                        <img class="company_logo lazy" src="__PICTURE__/web_ico.png">
                        <span class="catename">Web开发</span>
                        <span class="video">115个视频</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class=" bgcolor1  bddown_set">
        <div class="Look_course">
            <div class="container-fluid activities">
                <div class="event_list clearfix" id="theme2">
                    {volist name='vods' id='vo'}
                    <div class="col-lg-3">
                        <a href="vod/{$vo.id}.html"
                           target="_blank">
                            <div class="li">
                                <div class="event_cover" style="height:165px">
                                    <!--<img class="left_img"    src="__PICTURE__/icon-pre-sale.png">-->
                                    <img class="img_lazy" data-original="{$vo.image_url}"/>
                                    <span class="img_span" style="margin-left: 0px;"></span>
                                    <span class="play"></span>

                                </div>
                                <div class="info" style="border:1px solid #dedede;margin-top:0px;border-top:0px;padding-left:12px;padding-bottom:12px;">
                                    <div class="name">{$vo.name}</div>
                                    <div class="t_l">
                                        <span class="time">
                                            <i class="fa fa-calendar"></i> {$vo.create_time|date="Y-m-d H:i:s",###}
                                        </span>
                                        <span class="location ellipsis"><i class="fa fa-send-o"></i> {$vo.cName}</span>
                                    </div>

                                    <div class="t_l" style="border-top: 1px solid rgba(0,0,0,0.06);padding-top:6px;padding-left:6px;">
                                        <a target="_blank" href="/member/organizer/79">
											<span class="location ellipsis" style="width:100%;background:url(__IMAGES__/150409962643489359.jpg) left center no-repeat;background-size:36px 18px;;padding-left:42px;margin-right:8px;">
												{$vo.cName}</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>

    <!-- 明星大咖-->

    <!-- 明星大咖 end-->

    <!--推荐主办方-->

</div>
</div>
<!--推荐主办方 end-->
</div>
<!--footer-->
