<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2><i class="fa fa-info-circle"></i> </h2>
            </div>
            <div class="col-lg-2">
                <h2><i class="fa fa-book"></i> </h2>

            </div>
            <div class="col-lg-2">
                <h2><i class="fa fa-commenting"></i> </h2>
            </div>
            <div class="col-lg-3">
                <h2><i class="fa fa-qq"></i> </h2>
            </div>
            <div class="col-lg-3">
                <h2><i class="fa fa-share-alt"></i> </h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="clearfix">
            <span class="pull-left"> <a href="{$Think.config.webinfo.WEBDOMAIN}">{$Think.config.webinfo.COPY}</a></span>
            <span class="pull-right">
				<a href="{$Think.config.webinfo.RECORD}" target="_blank">{$Think.config.webinfo.RECORD}</a>
            </span>
        </div>

    </div>
</footer>
</body>
</html>