<!-- 主要内容 -->
<div class="container">
    <div class="site-signup">
        <div class="page-header">
            <h1>注册</h1>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <form id="form-signup" action="/frontend/member/mobileSignUp" method="post">
                    <div class="form-group field-signupform-email required">
                        <label class="control-label" for="mobile">手机号码</label>
                        <input type="text" id="mobile" class="form-control" name="mobile" placeholder="请输入手机号码"
                               aria-required="true">

                        <div class="help-block"></div>
                    </div>
                    <div class="form-group field-signupform-email required">
                        <label class="control-label" for="code">验证码</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="code">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="getCode()">获取验证码</button>
                            </span>
                        </div><!-- /input-group -->

                        <div class="help-block"></div>
                    </div>
                    <div class="form-group field-signupform-password required">
                        <label class="control-label" for="password">密码</label>
                        <input type="password" id="password" class="form-control" name="password"
                               placeholder="密码"
                               aria-required="true">

                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">手机注册</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 pull-right">
                <div id="w0">
                    <ul class="auth-clients">
                        <li class="auth-client"><a class="auth-link" href="/auth?authclient=qq" title="QQ 登录"><span
                                class="auth-icon fa fa-qq fa-2x"></span></a></li>
                        <li class="auth-client"><a class="auth-link" href="/auth?authclient=weibo" title="微博登录"><span
                                class="auth-icon fa fa-weibo fa-2x"></span></a></li>
                        <li class="auth-client"><a class="auth-link" href="/auth?authclient=github"
                                                   title="GitHub 登录"><span class="auth-icon fa fa-github fa-2x"></span></a>
                        </li>
                    </ul>
                </div>
                已有帐号？ <a href="/signin">点此登录</a>
                <h2>登录后可以？</h2>
                <ol>
                    <li>分享您的教程，扩展，源码</li>
                    <li>参与问题和帖子的讨论，回复和评分</li>
                    <li>收藏具有价值的教程和帖子</li>
                    <li>发布招聘信息、找工作</li>
                </ol>
            </div>
        </div>
    </div>


</div>

<script type="application/javascript">
    function getCode() {
        mobile = $("#mobile").val();
        console.log("mobile == "+mobile);
        var url = "{:url('frontend/member/mobileCodeCheck')}";
        var data = {
            "mobile": mobile,
        };
        var success = function (response) {
            console.log(response);
            alert("code:" + response.code + " msg: " + response.msg);
        }
        $.get(url, data, success, 'json');
    }
</script>
