<div class="container">
    <div class="site-login">
        <div class="row" style="height: 600px;">
            <hr>
            <h1>
                Github登录  <p></p>
                <a class="auth-link" href="/frontend/open_auth/github" title="GitHub 登录"><span class="auth-icon fa fa-github fa-2x"></span></a></h1>
            <hr>
            <h1>
                微信登录（没钱认证） <p></p>
                先关注：<img src="__COMMON__/images/tinywan_wechat.jpg" width="200" height="200" alt="">
                再登陆：<img src="__COMMON__/images/wecaht.png" width="200" height="200" alt="">
                <hr>
            </h1>
        </div>
    </div>
</div>