<div class="container">
    <div class="site-login">
        <div class="page-header">
            <h1>登录</h1>
        </div>
        <div class="row" style="height: 600px;">
            <h1>目前由于域名没有通过，暂时只支持Github账号授权登陆，请点击以下头像进行登陆</h1>
            <hr>
            <h1>
                Github登录  <p></p>
                <a class="auth-link" href="/frontend/open_auth/github" title="GitHub 登录"><span class="auth-icon fa fa-github fa-2x"></span></a></h1>
            <hr>
            <h1>
                微信登录 <p></p>
                先关注：<img src="__COMMON__/images/tinywan_wechat.jpg" width="200" height="200" alt="">
                再登陆：<img src="__COMMON__/images/wecaht.png" width="200" height="200" alt="">
                <hr>
            </h1>
        </div>
    </div>
</div>