<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="target-densitydpi=device-dpi,width=750, maximum-scale=0.5">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="__LIB__/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css" />

    <script type="text/javascript" src="__JS__/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="__LIB__/swiper/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/resetDPR.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>

    <link href="__COMMON__/videojs/videojs/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="__COMMON__/videojs/Skins/YouTouBe.css">
    <script src="__COMMON__/videojs/videojs/video.js"></script>
    <script src="__COMMON__/videojs/videojs/videojs-contrib-hls.min.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.2.0/skins/default/aliplayer-min.css"/>
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.2.0/aliplayer-min.js"></script>
    <title>{$customerInfo.c_name} 车辆维修直播间</title>
    <style type="text/css">
        .live_l {
            margin-top: 520px;
        }
    </style>
</head>

<body>
<section class="live_bc">
    <section class="live_content">
        <div class="live_header">
            <video id="live-stream" class="video-js vjs-default-skin vjs-big-play-centered"
                   controls autoplay preload="auto"
                   poster="videodemo.png"
                   data-setup='{"example_option":true}'>
                <source src="http://image.amailive.com/data/L05026/video/1515571721150/index.m3u8"
                        type="application/x-mpegURL">
            </video>
        </div>
    </section>
    <section class="flex news">
        <div class="new">
            {if condition="$liveStatus eq 1"}
            正在直播
            {else /}
            敬请等待
            {/if}
        </div>
        <div class="flex_c new_active">
            客户 ：{$customerInfo->c_name}&nbsp;&nbsp;&nbsp;&nbsp;
            车牌号：{$customerInfo->num_plate}
        </div>
    </section>
    <section class="live_li live_l">
        <section class="nav_p">
            <div class="nav live_nav">
                <h3>
                    <span></span>历史回顾视频
                </h3>
            </div>
        </section>
        <section class="live_list">
            <div class="live_lists live_listed">
                <div class="no_video">
                    <span></span>
                    暂时还没有视频
                </div>
                <ul>
                    {volist name='VodList' id='vo'}
                    <li>
                        <a href="{:url('tianchi/Index/liveVodList',['id'=>$vo.id])}">
                            <div class="img_f"><img src="http://tinywan-oss.oss-cn-shanghai.aliyuncs.com/data/{$vo['streamName']}/video/{$vo['fileName']}.jpg"></div>
                            <div class="flex_c center_ll">
                                <p class="store_name">视频时长：{$vo['duration']|gmstrftime="%H:%M:%S",###}</p>
                                <p class="schedule">时间:{$vo['createTime']}</p>
                            </div>
                            <div class="floatright">
                                <span class="live_logo">回顾</span>
                            </div>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div>
        </section>
    </section>
</section>
</body>
</html>
<script src="__COMMON__/videojs/videojs/video.js"></script>
<script src="__COMMON__/videojs/videojs/videojs-contrib-hls.min.js"></script>
<script>
    var options = {
        width: 640,
        height: 380
    };
    var player = videojs('live-stream', options);
    player.addClass('vjs-matrix');

    player.on(['loadstart', 'play', 'playing', 'firstplay', 'pause', 'ended', 'adplay', 'adplaying', 'adfirstplay', 'adpause', 'adended', 'contentplay', 'contentplaying', 'contentfirstplay', 'contentpause', 'contentended', 'contentupdate'], function (e) {
//        console.warn('VIDEOJS player event: ', e.type);
        if (e.type == "play") {
            console.log('开始播放');
        } else if (e.type == "playing") {
            console.log('正在播放...');
        } else if (e.type == "pause") {
            console.log('暂停视频播放');
        } else if (e.type == "firstplay") {
            console.log('firstplay播放');
        } else {
            console.log('1111111111111');
        }
    });

</script>
