<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="target-densitydpi=device-dpi,width=750, maximum-scale=0.5">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="__LIB__/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css" />

    <script type="text/javascript" src="__JS__/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="__LIB__/swiper/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/resetDPR.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.2.0/skins/default/aliplayer-min.css"/>
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.2.0/aliplayer-min.js"></script>
    <title>历史回顾播放</title>
    <style type="text/css">
        .live_l {
            margin-top: 520px;
        }
    </style>
</head>

<body>
<section class="live_bc">
    <section class="live_content">
        <div class="live_header">
            <div class="prism-player" id="J_prismPlayer" style="position: absolute;left:0%;"></div>
        </div>
    </section>
</section>
</body>
</html>
<script>

    var $defaultSource = "http://tinywan-oss.oss-cn-shanghai.aliyuncs.com/data/{$videoInfo.streamName}/video/{$videoInfo.fileName}.mp4";
    console.log($defaultSource);
    var player = new Aliplayer({
            id: "J_prismPlayer",
            autoplay: false,
            isLive: false,
            playsinline: true,
            width: "100%",
            height: "380px",
            controlBarVisibility: "always",
            useH5Prism: false,
            useFlashPrism: false,
            cover: "http://tinywan-oss.oss-cn-shanghai.aliyuncs.com/data/{$videoInfo.streamName}/video/{$videoInfo.fileName}.jpg",
            source: $defaultSource,
            skinLayout: [{
                "name": "controlBar",
                "align": "blabs",
                "x": 0,
                "y": 0,
                "children": [
                    {"name": "streamButton", "align": "tr", "x": 20, "y": 23},
                    {"name": "playButton", "align": "tl", "x": 15, "y": 26},
                    {"name": "fullScreenButton", "align": "tr", "x": 20, "y": 25},
                    {"name": "volume", "align": "tr", "x": 20, "y": 25}]
            },
                {"name": "bigPlayButton", "align": "blabs", "x": 30, "y": 80},
                {
                    "name": "fullControlBar",
                    "align": "tlabs",
                    "x": 0,
                    "y": 0,
                    "children": [{"name": "fullTitle", "align": "tl", "x": 25, "y": 6},
                        {"name": "fullNormalScreenButton", "align": "tr", "x": 24, "y": 13},
                        {"name": "fullZoom", "align": "cc"},
                        {"name": "fullTimeDisplay", "align": "tr", "x": 10, "y": 12}]
                }]
        }, function (player) {
            console.log("播放器创建了。");
        }
    );
</script>
