<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
            <h1>{$title}</h1>
        </div>
        <div class="hr hr32 hr-dotted"></div>
        <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
        <style>
            video {
                width: 640px;
                height: 360px;
            }
        </style>
        <div>
            <video data-dashjs-player autoplay src="http://dash.edgesuite.net/envivio/EnvivioDash3/manifest.mpd" controls></video>
            <video data-dashjs-player autoplay src="http://115.29.8.55:8000/play/dash/sintel/index.mpd" controls></video>
            <!--<video data-dashjs-player autoplay src="http://115.29.8.55:8000/play/dash/sintel/index.mpd" controls></video>-->
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->