<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#category-list">
                        <i class="green icon-home bigger-110"></i>
                        规则列表
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#category-add">
                        <i class="green icon-home bigger-110"></i>
                        添加顶级规则
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="category-list" class="tab-pane in active">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                            <th>名称</th>
                            <th>规则URL</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>级别</th>
                            <th>额外的规则条件</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='lists' id='user'}
                        <tr class="text-c">
                            <td>{$user['id']}</td>
                            <td>
                                {if condition="$user['_level'] eq 1"}
                                <span class="label label-lg label-info arrowed-right">{$user['_title']}</span>
                                {elseif condition="$user['_level'] eq 2"/}
                                <span class="label label-lg label-grey arrowed-right">{$user['_title']}</span>
                                {else/}
                                <span class="label label-lg label-light arrowed-right">{$user['_title']}</span>
                                {/if}
                            </td>
                            <td>
                                <span class="label {if condition="$user['_level'] eq 1"}label-info{elseif condition="$user['_level'] eq 2"/}label-grey{else/}label-light{/if} label-lg arrowed-right arrowed-in">
                                {$user['name']}
                                </span>
                            </td>
                            <td>{$user['type']}</td>
                            <td>{$user['status']}</td>
                            <td>{$user['_level']}</td>
                            <td>{$user['condition']}</td>
                            <td>
                                <a href="{:url('backend/auth.auth_rule/subpage',['id'=>$user['id']])}">
                                    <button class="btn btn-success btn-xs">
                                        <i class="icon-folder-open"></i>添加子规则
                                    </button>
                                </a>
                                <a href="{:url('backend/auth.auth_rule/edit',['id'=>$user['id']])}">
                                    <button class="btn btn-primary btn-xs">
                                        <i class="icon-edit"></i>编辑
                                    </button>
                                </a>
                                <a href="{:url('backend/auth.auth_rule/delete',['id'=>$user['id']])}">
                                    <button class="btn btn-danger btn-xs">
                                        <i class="icon-trash"></i>删除
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>


                <div id="category-add" class="tab-pane">
                    <form action="{:url('/backend/auth.auth_rule/store')}" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> (控制器/方法)规则URL:</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="如:system" name="name" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属级别:</label>

                            <div class="col-sm-9">
                                <select name="pid" id="select">
                                    <option value="0">顶级分类</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 标题:</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-3" placeholder="系统配置" name="title" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 规则条件:</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-13" placeholder="规则条件" name="condition" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-4" placeholder="排序" name="sort" value="10" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-actions center">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /span -->

</div><!-- /row -->

